In [1]:
# Import numerical libraries
import pandas as pd
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
from tableone import TableOne, load_dataset

In [3]:
data = pd.read_csv('base_doencas_cardiacas.csv')

In [4]:
categorical = ['V0001', 'V0015', 'V0026', 'V0031', 'B001', 'C006', 'C009', 'C011', 'C012', 'D00901', 'D014', 'D015', 'E006011', 
               'E008', 'E010010', 'E027', 'F001011', 'F007011', 'F008011', 'VDF001', 'F016', 'G059', 'G060', 'G062', 'G032', 
               'I00102', 'I006', 'I004', 'I00401', 'I00402', 'I00403', 'I012', 'J001', 'J00101', 'J002', 'J00402', 'J00404', 'J007', 
               'J00801', 'J01101', 'J060', 'M001', 'M00302', 'M011011', 'M011021', 'M011051', 'M011071', 'N005', 
               'N008', 'N010', 'N011', 'N012', 'N016', 'P02601', 'P027', 'P050', 'P051', 'P06701', 'P068', 'Q00201', 'Q03001', 'Q060',
               'Q06306', 'Q06506', 'Q06507', 'Q06508', 'Q06509', 'Q06601', 'Q067', 'Q068', 'Q11006', 'R034', 'R03601', 'R03607',
               'R03608', 'R03610', 'S065', 'T001', 'H003', 'H004', 'H010']

continuous = ['C00701', 'C00702', 'C00703', 'E01602', 'E01604', 'E017', 'E01802', 'E01804', 'E019', 'P00104',
           'P00404', 'P00901', 'P01001', 'P01101', 'P02001', 'P018', 'P019', 'P02002', 'P02501', 'P02602',
           'P02801', 'P029', 'P035', 'P03701', 'P03702', 'P04501', 'P04502', 'P053', 'P05401', 'P05404',
           'P05407', 'P05410', 'P05413', 'P05416', 'P05419', 'P058', 'Q064']

In [5]:
# Crie uma Tabela 1 simples sem nenhuma variável de agrupamento
# Teste de normalidade, multimodalidade (Teste de Mergulho de Hartigan) e valores discrepantes (teste de Tukey)

mytable = TableOne(data, categorical=categorical, continuous=continuous, dip_test=False, normal_test=False, tukey_test=False, decimals=3)

c:\Users\bkser\AppData\Local\Programs\Python\Python313\Lib\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[12.0 'None' 10.0 ... 7.0 11.0 7.0]' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
c:\Users\bkser\AppData\Local\Programs\Python\Python313\Lib\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[2.0 'None' 2.0 ... 1.0 1.0 1.0]' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
c:\Users\bkser\AppData\Local\Programs\Python\Python313\Lib\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['None' 'None' 'None' ... 'None' 'None' 'None']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
c:\Users\bkser\AppData\Local\Programs\Python\Python313\Lib\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['None' 'None' 'None' ... 'None' 'None' 'None']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
c:\Users\bkser\AppData\Local\Programs\Python\Python313\Lib\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['None' 'None' 'None' ... 'None' 'None' 'None']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
c:\Users\bkser\AppData\Local\Programs\Python\Python313\Lib\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['None' 'None' 'None' ... 'None' 'None' 'None']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
c:\Users\bkser\AppData\Local\Programs\Python\Python313\Lib\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['None' 'None' 'None' ... 'None' 'None' 'None']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
c:\Users\bkser\AppData\Local\Programs\Python\Python313\Lib\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['None' 'None' 'None' ... 'None' 4.0 'None']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
c:\Users\bkser\AppData\Local\Programs\Python\Python313\Lib\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['None' 'None' 'None' ... 'None' 2.0 'None']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
c:\Users\bkser\AppData\Local\Programs\Python\Python313\Lib\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['None' 'None' 'None' ... 'None' 1.0 'None']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
c:\Users\bkser\AppData\Local\Programs\Python\Python313\Lib\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['None' 'None' 'None' ... 'None' 1.0 'None']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
c:\Users\bkser\AppData\Local\Programs\Python\Python313\Lib\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['None' 'None' 'None' ... 'None' 1.0 'None']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
c:\Users\bkser\AppData\Local\Programs\Python\Python313\Lib\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[2.0 1.0 1.0 ... 1.0 2.0 1.0]' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
c:\Users\bkser\AppData\Local\Programs\Python\Python313\Lib\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['None' 'None' 'None' ... 'None' 'None' 'None']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
c:\Users\bkser\AppData\Local\Programs\Python\Python313\Lib\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['None' 'None' 'None' ... 'None' 'None' 'None']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
c:\Users\bkser\AppData\Local\Programs\Python\Python313\Lib\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['None' 'None' 1.0 ... 'None' 1.0 'None']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
c:\Users\bkser\AppData\Local\Programs\Python\Python313\Lib\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['None' 'None' 'None' ... 'None' 'None' 'None']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
c:\Users\bkser\AppData\Local\Programs\Python\Python313\Lib\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['None' 'None' 2.0 ... 'None' 2.0 2.0]' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
c:\Users\bkser\AppData\Local\Programs\Python\Python313\Lib\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['None' 'None' 2.0 ... 'None' 2.0 2.0]' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
c:\Users\bkser\AppData\Local\Programs\Python\Python313\Lib\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['None' 'None' 2.0 ... 'None' 2.0 2.0]' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
c:\Users\bkser\AppData\Local\Programs\Python\Python313\Lib\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['None' 'None' 2.0 ... 'None' 2.0 2.0]' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
c:\Users\bkser\AppData\Local\Programs\Python\Python313\Lib\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[2.0 2.0 2.0 ... 2.0 2.0 2.0]' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
c:\Users\bkser\AppData\Local\Programs\Python\Python313\Lib\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['None' 'None' 'None' ... 'None' 'None' 'None']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
c:\Users\bkser\AppData\Local\Programs\Python\Python313\Lib\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['None' 'None' 'None' ... 'None' 'None' 'None']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
c:\Users\bkser\AppData\Local\Programs\Python\Python313\Lib\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[2.0 2.0 2.0 ... 2.0 2.0 2.0]' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
c:\Users\bkser\AppData\Local\Programs\Python\Python313\Lib\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[2.0 2.0 2.0 ... 2.0 2.0 'None']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
c:\Users\bkser\AppData\Local\Programs\Python\Python313\Lib\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[2.0 2.0 1.0 ... 2.0 2.0 'None']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
c:\Users\bkser\AppData\Local\Programs\Python\Python313\Lib\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['None' 'None' 'None' ... 'None' 'None' 'None']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
c:\Users\bkser\AppData\Local\Programs\Python\Python313\Lib\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['None' 'None' 'None' ... 'None' 'None' 'None']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
c:\Users\bkser\AppData\Local\Programs\Python\Python313\Lib\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['None' 'None' 'None' ... 'None' 'None' 'None']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
c:\Users\bkser\AppData\Local\Programs\Python\Python313\Lib\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['None' 'None' 'None' ... 'None' 'None' 'None']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
c:\Users\bkser\AppData\Local\Programs\Python\Python313\Lib\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['None' 'None' 'None' ... 'None' 'None' 'None']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
c:\Users\bkser\AppData\Local\Programs\Python\Python313\Lib\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['None' 'None' 'None' ... 'None' 'None' 'None']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
c:\Users\bkser\AppData\Local\Programs\Python\Python313\Lib\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['None' 'None' 'None' ... 2.0 'None' 'None']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
c:\Users\bkser\AppData\Local\Programs\Python\Python313\Lib\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['None' 'None' 'None' ... 'None' 'None' 'None']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
c:\Users\bkser\AppData\Local\Programs\Python\Python313\Lib\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['None' 'None' 'None' ... 'None' 'None' 'None']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
c:\Users\bkser\AppData\Local\Programs\Python\Python313\Lib\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['None' 'None' 'None' ... 'None' 'None' 'None']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
c:\Users\bkser\AppData\Local\Programs\Python\Python313\Lib\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['None' 'None' 'None' ... 'None' 'None' 'None']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
c:\Users\bkser\AppData\Local\Programs\Python\Python313\Lib\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[2.0 'None' 1.0 ... 1.0 'None' 'None']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
c:\Users\bkser\AppData\Local\Programs\Python\Python313\Lib\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['None' 'None' 'None' ... 2.0 2.0 'None']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
c:\Users\bkser\AppData\Local\Programs\Python\Python313\Lib\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['None' 'None' 'None' ... 1.0 8.0 'None']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
c:\Users\bkser\AppData\Local\Programs\Python\Python313\Lib\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['None' 'None' 'None' ... 4.0 'None' 'None']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)

In [6]:
# View Table 1 (note the remarks below the table)
mytable

                       Missing              Overall
n                                             41049
V0001, n (%)      21                  4986 (12.146)
                  22                   2679 (6.526)
                  23                  4155 (10.122)
                  24                   2879 (7.014)
                  25                   3087 (7.520)
                  26                   3964 (9.657)
                  27                   2912 (7.094)
                  28                   2567 (6.254)
                  29                   3586 (8.736)
                  50                   2803 (6.828)
                  51                   2446 (5.959)
                  52                   2673 (6.512)
                  53                   2312 (5.632)
V0015, n (%)      1                 41049 (100.000)
V0026, n (%)      1                  29925 (72.901)
                  2                  11124 (27.099)
V0031, n (%)      1                  14710 (35.835)
                  2                   4739 (11.545)
                  3                     583 (1.420)
                  4                  21017 (51.200)
B001, n (%)       1.0                27835 (67.809)
                  2.0                 8536 (20.795)
                  3.0                 4678 (11.396)
C006, n (%)       1.0                19011 (46.313)
                  2.0                22038 (53.687)
C00701, mean (SD)            0      17.962 (17.094)
C00702, mean (SD)            0       9.542 (16.666)
C00703, mean (SD)            0  2231.533 (1417.616)
C009, n (%)       1.0                11536 (28.103)
                  2.0                 5146 (12.536)
                  3.0                   280 (0.682)
                  4.0                23804 (57.989)
                  5.0                   278 (0.677)
                  9.0                     5 (0.012)
C011, n (%)       1.0                15257 (37.168)
                  2.0                  3118 (7.596)
                  3.0                  3214 (7.830)
                  4.0                19460 (47.407)
C012, n (%)       1.0                29237 (71.225)
                  2.0                11812 (28.775)
D00901, n (%)     1.0                    12 (0.029)
                  10.0               10991 (26.775)
                  11.0                  553 (1.347)
                  12.0                 3924 (9.559)
                  13.0                 1197 (2.916)
                  14.0                  202 (0.492)
                  15.0                   85 (0.207)
                  2.0                   173 (0.421)
                  3.0                  1281 (3.121)
                  4.0                   358 (0.872)
                  5.0                  3931 (9.576)
                  6.0                   727 (1.771)
                  7.0                 9818 (23.918)
                  8.0                   591 (1.440)
                  9.0                   534 (1.301)
                  None                6672 (16.254)
D014, n (%)       1.0                17712 (43.148)
                  2.0                15306 (37.287)
                  None                8031 (19.564)
D015, n (%)       1.0                29352 (71.505)
                  2.0                11697 (28.495)
E006011, n (%)    1.0                   216 (0.526)
                  2.0                    48 (0.117)
                  3.0                   145 (0.353)
                  4.0                    15 (0.037)
                  5.0                    57 (0.139)
                  6.0                    13 (0.032)
                  7.0                    30 (0.073)
                  None               40525 (98.723)
E008, n (%)       1.0                    63 (0.153)
                  2.0                    82 (0.200)
                  None               40904 (99.647)
E010010, n (%)    1.0                    30 (0.073)
                  2.0                    42 (0.102)
                  3.0                    12 (0.029)
                  4.0                    16 (0.039)
                  None               40949 (99.756)
E01602, mean (SD)        18425  1876.654 (3053.163)
E01604, mean (SD)        40796    321.534 (543.397)
E017, mean (SD)          17957      36.667 (13.704)
E01802, mean (SD)        39791  1637.783 (2553.483)
E01804, mean (SD)        41027    142.318 (145.956)
E019, mean (SD)          39767      17.902 (10.953)
E027, n (%)       1.0                29272 (71.310)
                  2.0                11777 (28.690)
F001011, n (%)    1.0                 9447 (23.014)
                  2.0                31602 (76.986)
F007011, n (%)    1.0                  1476 (3.596)
                  2.0                39573 (96.404)
F008011, n (%)    1.0                  1397 (3.403)
                  2.0                39652 (96.597)
VDF001, n (%)     1.0                 7052 (17.179)
                  2.0                33997 (82.821)
F016, n (%)       1.0                29235 (71.220)
                  2.0                11814 (28.780)
G059, n (%)       1.0                   794 (1.934)
                  2.0                40255 (98.066)
G060, n (%)       1.0                   179 (0.436)
                  2.0                   615 (1.498)
                  None               40255 (98.066)
G062, n (%)       1.0                   607 (1.479)
                  2.0                   187 (0.456)
                  None               40255 (98.066)
G032, n (%)       1.0                29256 (71.271)
                  2.0                11793 (28.729)
I00102, n (%)     1.0                 7392 (18.008)
                  2.0                33657 (81.992)
I006, n (%)       1.0                  1596 (3.888)
                  2.0                  3945 (9.610)
                  3.0                  1433 (3.491)
                  4.0                   165 (0.402)
                  5.0                    63 (0.153)
                  6.0                   190 (0.463)
                  None               33657 (81.992)
I004, n (%)       1.0                  1662 (4.049)
                  2.0                  3589 (8.743)
                  None               35798 (87.208)
I00401, n (%)     1.0                 5191 (12.646)
                  2.0                    60 (0.146)
                  None               35798 (87.208)
I00402, n (%)     1.0                 5171 (12.597)
                  2.0                    80 (0.195)
                  None               35798 (87.208)
I00403, n (%)     1.0                 4941 (12.037)
                  2.0                   310 (0.755)
                  None               35798 (87.208)
I012, n (%)       1.0                29229 (71.205)
                  2.0                11805 (28.758)
                  None                   15 (0.037)
J001, n (%)       1.0                 4613 (11.238)
                  2.0                19862 (48.386)
                  3.0                13433 (32.724)
                  4.0                  2566 (6.251)
                  5.0                   575 (1.401)
J00101, n (%)     1.0                 5566 (13.559)
                  2.0                23892 (58.204)
                  3.0                 9535 (23.228)
                  4.0                  1743 (4.246)
                  5.0                   313 (0.763)
J002, n (%)       1.0                  4034 (9.827)
                  2.0                37015 (90.173)
J00402, n (%)     1.0                  1351 (3.291)
                  10.0                   52 (0.127)
                  11.0                   52 (0.127)
                  12.0                  229 (0.558)
                  13.0                  247 (0.602)
                  14.0                  328 (0.799)
                  2.0                   313 (0.763)
                  3.0                   110 (0.268)
                  4.0                    66 (0.161)
                  5.0                   542 (1.320)
                  6.0                   282 (0.687)
                  7.0                    91 (0.222)
                  8.0                   296 (0.721)
                  9.0                    75 (0.183)
                  None               37015 (90.173)
J00404, n (%)     1.0                   646 (1.574)
                  2.0                  3001 (7.311)
                  3.0                   387 (0.943)
                  None               37015 (90.173)
J007, n (%)       1.0                20715 (50.464)
                  2.0                20334 (49.536)
J00801, n (%)     1.0                11746 (28.615)
                  2.0                 8969 (21.849)
                  None               20334 (49.536)
J01101, n (%)     1.0                31586 (76.947)
                  2.0                 4583 (11.165)
                  3.0                  1567 (3.817)
                  4.0                  3018 (7.352)
                  5.0                   295 (0.719)
J060, n (%)       1.0                29402 (71.627)
                  2.0                11647 (28.373)
M001, n (%)       1.0               41049 (100.000)
M00302, n (%)     1.0                   557 (1.357)
                  None               40492 (98.643)
M011011, n (%)    1.0                  2820 (6.870)
                  2.0                20272 (49.385)
                  None               17957 (43.745)
M011021, n (%)    1.0                 4702 (11.455)
                  2.0                18390 (44.800)
                  None               17957 (43.745)
M011051, n (%)    1.0                  1423 (3.467)
                  2.0                21669 (52.788)
                  None               17957 (43.745)
M011071, n (%)    1.0                  2689 (6.551)
                  2.0                20403 (49.704)
                  None               17957 (43.745)
N005, n (%)       1.0                  1791 (4.363)
                  2.0                38464 (93.703)
                  None                  794 (1.934)
N008, n (%)       1.0                  3853 (9.386)
                  2.0                   819 (1.995)
                  3.0                   302 (0.736)
                  4.0                    67 (0.163)
                  None               36008 (87.720)
N010, n (%)       1.0                25848 (62.969)
                  2.0                 7604 (18.524)
                  3.0                  2633 (6.414)
                  4.0                 4964 (12.093)
N011, n (%)       1.0                25306 (61.648)
                  2.0                 9805 (23.886)
                  3.0                  2661 (6.482)
                  4.0                  3277 (7.983)
N012, n (%)       1.0                28950 (70.525)
                  2.0                 8214 (20.010)
                  3.0                  1882 (4.585)
                  4.0                  2003 (4.880)
N016, n (%)       1.0                29683 (72.311)
                  2.0                 7457 (18.166)
                  3.0                  1955 (4.763)
                  4.0                  1954 (4.760)
P00104, mean (SD)          409      70.845 (14.867)
P00404, mean (SD)          409      164.161 (9.564)
P00901, mean (SD)            0        4.105 (2.499)
P01001, mean (SD)        22240        1.306 (0.493)
P01101, mean (SD)            0        3.248 (2.108)
P02001, mean (SD)            0        0.992 (1.901)
P018, mean (SD)              0        3.991 (2.492)
P019, mean (SD)          23181        1.583 (0.688)
P02002, mean (SD)            0        1.055 (1.698)
P02501, mean (SD)            0        1.557 (2.105)
P02602, mean (SD)            0        0.340 (1.011)
P02601, n (%)     1.0                   468 (1.140)
                  2.0                  3624 (8.828)
                  3.0                24070 (58.637)
                  4.0                11227 (27.350)
                  5.0                  1660 (4.044)
P027, n (%)       1.0                25625 (62.425)
                  2.0                 5161 (12.573)
                  3.0                10263 (25.002)
P02801, mean (SD)        30786        1.717 (1.582)
P029, mean (SD)          25625        5.343 (4.972)
P035, mean (SD)          24806        3.485 (1.907)
P03701, mean (SD)        25274        0.954 (0.820)
P03702, mean (SD)        25274      14.544 (17.027)
P04501, mean (SD)            0        2.859 (1.528)
P04502, mean (SD)            0        3.877 (1.942)
P050, n (%)       1.0                 4327 (10.541)
                  2.0                   526 (1.281)
                  3.0                36196 (88.178)
P051, n (%)       1.0                   259 (0.631)
                  2.0                   267 (0.650)
                  None               40523 (98.719)
P053, mean (SD)          26952       16.439 (6.342)
P05401, mean (SD)        36196        2.428 (1.810)
P05404, mean (SD)        36196        3.402 (1.918)
P05407, mean (SD)        36196        4.977 (0.268)
P05410, mean (SD)        36196        4.932 (0.503)
P05413, mean (SD)        36196        4.988 (0.193)
P05416, mean (SD)        36196        4.946 (0.389)
P05419, mean (SD)        36196        4.977 (0.287)
P058, mean (SD)          30179        2.121 (1.758)
P06701, n (%)     1.0                    29 (0.071)
                  2.0                   118 (0.287)
                  3.0                   210 (0.512)
                  4.0                40692 (99.130)
P068, n (%)       1.0                 4951 (12.061)
                  2.0                   761 (1.854)
                  3.0                   261 (0.636)
                  4.0                   586 (1.428)
                  5.0                34490 (84.022)
Q00201, n (%)     1.0                10601 (25.825)
                  2.0                29522 (71.919)
                  None                  926 (2.256)
Q03001, n (%)     1.0                  3241 (7.895)
                  2.0                34565 (84.204)
                  None                 3243 (7.900)
Q060, n (%)       1.0                 6130 (14.933)
                  2.0                30889 (75.249)
                  None                 4030 (9.818)
Q06306, n (%)     1.0                  1913 (4.660)
                  2.0                39136 (95.340)
Q064, mean (SD)          39136      47.743 (19.278)
Q06506, n (%)     1.0                   963 (2.346)
                  2.0                   950 (2.314)
                  None               39136 (95.340)
Q06507, n (%)     1.0                   615 (1.498)
                  2.0                  1298 (3.162)
                  None               39136 (95.340)
Q06508, n (%)     1.0                  1330 (3.240)
                  2.0                   583 (1.420)
                  None               39136 (95.340)
Q06509, n (%)     1.0                  1246 (3.035)
                  2.0                   667 (1.625)
                  None               39136 (95.340)
Q06601, n (%)     1.0                   562 (1.369)
                  2.0                  1351 (3.291)
                  None               39136 (95.340)
Q067, n (%)       1.0                   918 (2.236)
                  2.0                   479 (1.167)
                  3.0                   297 (0.724)
                  4.0                   163 (0.397)
                  5.0                    56 (0.136)
                  None               39136 (95.340)
Q068, n (%)       1.0                   878 (2.139)
                  2.0                40171 (97.861)
Q11006, n (%)     1.0                  2144 (5.223)
                  2.0                38905 (94.777)
R034, n (%)       1.0                 5544 (13.506)
                  2.0                 4406 (10.734)
                  None               31099 (75.761)
R03601, n (%)     1.0                  2783 (6.780)
                  2.0                  2761 (6.726)
                  None               35505 (86.494)
R03607, n (%)     1.0                   761 (1.854)
                  2.0                 4783 (11.652)
                  None               35505 (86.494)
R03608, n (%)     1.0                    22 (0.054)
                  2.0                 5522 (13.452)
                  None               35505 (86.494)
R03610, n (%)     1.0                   141 (0.343)
                  2.0                 5403 (13.162)
                  None               35505 (86.494)
S065, n (%)       1.0                17319 (42.191)
                  2.0                 4719 (11.496)
                  None               19011 (46.313)
T001, n (%)       1.0                  1339 (3.262)
                  2.0                39710 (96.738)
H003, n (%)       1.0                   267 (0.650)
                  2.0                  3053 (7.437)
                  3.0                   237 (0.577)
                  4.0                 4748 (11.567)
                  5.0                   199 (0.485)
                  6.0                   226 (0.551)
                  7.0                  2670 (6.504)
                  8.0                    17 (0.041)
                  None               29632 (72.187)
H004, n (%)       1.0                 4416 (10.758)
                  10.0                  160 (0.390)
                  11.0                   56 (0.136)
                  12.0                  112 (0.273)
                  13.0                   49 (0.119)
                  2.0                   305 (0.743)
                  3.0                    68 (0.166)
                  4.0                   322 (0.784)
                  5.0                    35 (0.085)
                  6.0                   142 (0.346)
                  7.0                  1312 (3.196)
                  8.0                 4342 (10.578)
                  9.0                    98 (0.239)
                  None               29632 (72.187)
H010, n (%)       1.0                  1395 (3.398)
                  2.0                  1011 (2.463)
                  3.0                   891 (2.171)
                  4.0                  1079 (2.629)
                  5.0                    40 (0.097)
                  None               36633 (89.242)

In [ ]:

print(mytable.tabulate(tablefmt="github"))