In [3]:
import pandas as pd

### Montando a base para tratamento de outliers

In [7]:
colunas_base_outliers = ['V0001', 'V0024', 'UPA_PNS', 'V0006_PNS', 'C00301', 
                        'V0015', 'V0026', 'V0031', 'B001', 'C006', 'C008', 'C009', 'C011', 'C012','D00901', 'D014', 'D015', 'E006011', 'E008', 'E01602', 'E017', 'E01802', 'E019', 'E027', 
                        'F001011', 'F001021', 'F007011', 'F007021', 'F008011', 'F008021', 'VDF001', 'VDF00102', 'F016', 'G059', 'G060', 'G062', 'G032', 
                        'I00102', 'I006', 'I004', 'I00401', 'I00402', 'I00403','I012', 'J001', 'J00101', 'J002', 'J00402', 'J00404', 'J007', 'J00801', 'J01101', 'J060', 'M001', 'M00203', 'M00302', 'M011011', 'M011021', 'M011051', 'M011071', 
                        'N004', 'N005', 'N008', 'N010', 'N011', 'N012', 'N016', 'P00104', 'P00404', 'P00901', 'P01101', 'P02001', 'P018', 'P02002', 'P02501', 'P02602', 'P02601', 'P027', 'P02801', 'P029', 'P035', 'P03701', 'P03702',
                        'P04501', 'P04502', 'P050', 'P051', 'P052', 'P053', 'P05401', 'P05404', 'P05407', 'P05410', 'P05413', 'P05416', 'P05419', 'P06701', 'P068', 'Q00201', 'Q03001', 'Q060', 'Q06306', 'Q064',
                        'Q06506', 'Q06507', 'Q06508', 'Q06509', 'Q06601', 'Q067', 'Q068', 'Q11006', 'Q128', 'T001', 'H003', 'H004', 'H010']

In [8]:
df = pd.read_csv('..\\Bases\\Originais\\pns2019.csv', usecols=colunas_base_outliers)
df.head()

,V0001,V0024,UPA_PNS,V0006_PNS,V0015,V0026,V0031,B001,C00301,C006,...,Q06509,Q06601,Q067,Q068,Q11006,Q128,T001,H003,H004,H010
0,11,1110011,110000016,1,1,1,1,1.0,1.0,2.0,...,NaN,NaN,NaN,2.0,2.0,2.0,2.0,2.0,1.0,3.0
1,11,1110011,110000016,1,1,1,1,1.0,2.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,11,1110011,110000016,1,1,1,1,1.0,3.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,11,1110011,110000016,1,1,1,1,1.0,4.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,11,1110011,110000016,1,1,1,1,1.0,5.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# Códigos dos estados do Nordeste
nordeste = [21, 22, 23, 24, 25, 26, 27, 28, 29]

# Códigos dos estados do Centro-Oeste
centro_oeste = [50, 51, 52, 53]

df_filtrado = df.dropna(subset=['Q06306'])

df_filtrado = df_filtrado[
    (df_filtrado['V0015'] == 1) & #Tipo da entrevista: Realizada (1)
    (df_filtrado['V0001'].isin(nordeste + centro_oeste)) & #Região nordeste e centro-oeste apenas
    (~df_filtrado['C012'].isin([3, 9])) & #Informante do Módulo C 
    (~df_filtrado['D015'].isin([3, 9])) & #Informante do Módulo D 
    (~df_filtrado['E027'].isin([3, 9])) & #Informante do Módulo E 
    (~df_filtrado['F016'].isin([3, 9])) & #Informante do Módulo F 
    (~df_filtrado['G032'].isin([3, 9])) & #Informante do Módulo G 
    (~df_filtrado['I012'].isin([3, 9])) & #Informante do Módulo I 
    (~df_filtrado['J060'].isin([3, 9])) & #Informante do Módulo J 
    (df_filtrado['M001'] == 1) & #Entrevista do adulto selecionado: Realizada (1)
    (~df_filtrado['M00302'].isin([2])) & #O informante desta parte é: (todas as opções menos "Não morador")
    (df_filtrado['C008'] >= 40)  # Pessoas com 40 anos ou mais
]

#Colunas acrescentadas para análise (se for permanecer, mudar oficialmente no tableone antes de tratar): D00201, D00301, D008
# 'E001', 'E002', 'E003', 'E004', 'E005'
# 'E011', 'E014011', 'E01601', 'E01603', 'E01605', 'E01801'
# tirei 'E010010', 'E01604', 'E01804'
# 'I00103', 'I001031','C00301'
# 'N00101'
# peso: 'W00101', 'W00102', 'W00103' (já tirei)
# altura: 'W00201', 'W00202', 'W00203' (já tirei)
# 'P00103', 'P00403'
# tirei o P01001 e o P019
# 'P034'
# tirei o P058
# 'P05901', 'P05902', 'P05903', 'P05904'
# 'Q00101', 'Q02901', 'Q05901'
# 'Q06307', 'Q06308', 'Q06309', 'Q06310', 'Q06311'
# 'R031', 'R032', 'R033'
# 'R010', 'R025', 'R028', 'R029', 'R030'
# 'H001', 'H002'
# Atributos sobre contraceptivo: 'R010', 'R025', 'R028', 'R029', 'R030', 'R031', 'R032', 'R033', 'R034', 'R03601', 'R03607', 'R03608', 'R03610', 'S065', 

colunas_existentes = [col for col in colunas_base_outliers if col in df_filtrado.columns]

df_filtrado = df_filtrado[colunas_existentes]

In [10]:
df_filtrado = df_filtrado.drop(columns=['V0015', 'C012', 'D015', 'E027', 'F016', 'G032', 'I012', 'J060', 'M001', 'M00302'])

In [11]:
df_filtrado.to_csv('..\\Bases\\Criados\\base_outliers.csv', index=False)

### Montando a base para fazer o tableone e produto cartesiano

1. V0001 (UF)
2. V0024 (Estrato)
3. UPA_PNS (Unidade Primária de Amostragem)
4. V0006_PNS (Número de ordem do domicílio na PNS)
5. C00301 (Número de ordem do morador)

'V0001', 'V0024', 'UPA_PNS', 'V0006_PNS', 'C00301'

In [12]:
pns2019 = pd.read_csv('..\\Bases\\Originais\\pns2019.csv')
base_sem_outliers = pd.read_csv('..\\Bases\\Criados\\base_sem_outliers.csv')

In [13]:
#Criando a chave única por pessoa
def criar_chave(df):
    return (
        df['V0001'].astype(str) + '_' +
        df['V0024'].astype(str) + '_' +
        df['UPA_PNS'].astype(str) + '_' +
        df['V0006_PNS'].astype(str) + '_' +
        df['C00301'].astype(str)
    )

pns2019['chave_pessoa'] = criar_chave(pns2019)
base_sem_outliers['chave_pessoa'] = criar_chave(base_sem_outliers)

In [14]:
# Merge para adicionar colunas da pns2019 na base_sem_outliers
base_sem_outliers = base_sem_outliers.merge(
    pns2019[['chave_pessoa', 'D00201', 'D00301', 'D008', 'E001', 'E002', 'E003', 'E004', 'E005', 'E011', 'E014011', 'E01601', 'E01603', 'E01605', 'E01801',
             'I00103', 'I001031', 'N00101', 'P00103', 'P00403', 'P034', 'P05901', 'P05902', 'P05903', 'P05904', 'Q00101', 'Q02901', 
             'Q05901', 'Q06307', 'Q06308', 'Q06309', 'Q06310', 'Q06311', 'H001', 'H002',]],
    on='chave_pessoa',
    how='left' # ou 'right', 'inner', 'outer' conforme necessidade
)

'''
Colunas adicionadas: 

'D00201', 'D00301', 'D008',
'E001', 'E002', 'E003', 'E004', 'E005',
'E011', 'E014011', 'E01601', 'E01603', 'E01605', 'E01801',
'I00103', 'I001031'
'N00101',
'P00103', 'P00403', 
'P034',
'P05901', 'P05902', 'P05903', 'P05904',
'Q00101', 'Q02901', 'Q05901'
'Q06307', 'Q06308', 'Q06309', 'Q06310', 'Q06311',
'H001', 'H002',
'''

"\nColunas adicionadas: \n\n'D00201', 'D00301', 'D008',\n'E001', 'E002', 'E003', 'E004', 'E005',\n'E011', 'E014011', 'E01601', 'E01603', 'E01605', 'E01801',\n'I00103', 'I001031'\n'N00101',\n'P00103', 'P00403', \n'P034',\n'P05901', 'P05902', 'P05903', 'P05904',\n'Q00101', 'Q02901', 'Q05901'\n'Q06307', 'Q06308', 'Q06309', 'Q06310', 'Q06311',\n'H001', 'H002',\n"

In [15]:
base_sem_outliers.to_csv('..\\Bases\\Criados\\base_doencas_cardiacas.csv', index=False)

### Informações das bases

In [17]:
df1 = pd.read_csv('..\\Bases\\Criados\\base_outliers.csv')

In [33]:
df1.shape

(24392, 106)

In [23]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24392 entries, 0 to 24391
Columns: 106 entries, V0001 to H010
dtypes: float64(100), int64(6)
memory usage: 19.7 MB

In [18]:
df2 = pd.read_csv('..\\Bases\\Criados\\base_sem_outliers.csv')

In [34]:
df2.shape

(24351, 106)

In [30]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24351 entries, 0 to 24350
Columns: 106 entries, V0001 to H010
dtypes: float64(100), int64(6)
memory usage: 19.7 MB

In [35]:
df3 = pd.read_csv('..\\Bases\\Criados\\base_doencas_cardiacas.csv')

In [37]:
df3.shape

(24351, 141)

In [31]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24351 entries, 0 to 24350
Columns: 141 entries, V0001 to H002
dtypes: float64(134), int64(6), object(1)
memory usage: 26.2+ MB

In [20]:
df4 = pd.read_csv('..\\Bases\\Criados\\base_preenchida.csv')

In [36]:
df4.shape

(24351, 99)

In [32]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24351 entries, 0 to 24350
Data columns (total 99 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   V0001                       24351 non-null  int64
 1   V0024                       24351 non-null  int64
 2   UPA_PNS                     24351 non-null  int64
 3   V0006_PNS                   24351 non-null  int64
 4   C00301                      24351 non-null  float64
 5   V0026                       24351 non-null  int64
 6   V0031                       24351 non-null  int64
 7   B001                        24351 non-null  float64
 8   C006                        24351 non-null  float64
 9   C008                        24351 non-null  float64
 10  C009                        24351 non-null  float64
 11  C011                        24351 non-null  float64
 12  E006011                     24351 non-null  float64
 13  E008                        24351 non-null  float64
 14  F001011                     24351 non-null  float64
 15  F001021                     9181 non-null   float64
 16  F007011                     24351 non-null  float64
 17  F007021                     758 non-null    float64
 18  F008011                     24351 non-null  float64
 19  F008021                     1140 non-null   float64
 20  VDF001                      24351 non-null  float64
 21  VDF00102                    3477 non-null   float64
 22  J001                        24351 non-null  float64
 23  J00101                      24351 non-null  float64
 24  J002                        24351 non-null  float64
 25  J00402                      24351 non-null  float64
 26  J00404                      24351 non-null  float64
 27  J007                        24351 non-null  float64
 28  J00801                      24351 non-null  float64
 29  J01101                      24351 non-null  float64
 30  M00203                      24348 non-null  float64
 31  N010                        24351 non-null  float64
 32  N011                        24351 non-null  float64
 33  N012                        24351 non-null  float64
 34  N016                        24351 non-null  float64
 35  P00104                      24324 non-null  float64
 36  P00404                      24324 non-null  float64
 37  P00901                      24351 non-null  float64
 38  P01101                      24351 non-null  float64
 39  P02001                      24351 non-null  float64
 40  P018                        24351 non-null  float64
 41  P02002                      24351 non-null  float64
 42  P02501                      24351 non-null  float64
 43  P02602                      24351 non-null  float64
 44  P02601                      24351 non-null  float64
 45  P04501                      24351 non-null  float64
 46  P04502                      24351 non-null  float64
 47  P06701                      24351 non-null  float64
 48  P068                        24351 non-null  float64
 49  Q00201                      24351 non-null  float64
 50  Q03001                      24351 non-null  float64
 51  Q060                        24351 non-null  float64
 52  Q06306                      24351 non-null  float64
 53  Q064                        24351 non-null  float64
 54  Q06506                      24351 non-null  float64
 55  Q06507                      24351 non-null  float64
 56  Q06508                      24351 non-null  float64
 57  Q06509                      24351 non-null  float64
 58  Q06601                      24351 non-null  float64
 59  Q067                        24351 non-null  float64
 60  Q068                        24351 non-null  float64
 61  Q11006                      24351 non-null  float64
 62  Q128                        24351 non-null  float64
 63  T001                        24351 non-null  float64
 64  H003                        24351 non-null  float64
 65  H004                        24351 non-null  float64
 66  H010                        24351 non-null  float64
 67  chave_pessoa                24351 non-null  object
 68  E011                        12374 non-null  float64
 69  N00101                      24351 non-null  float64
 70  P00103                      22179 non-null  float64
 71  P00403                      18750 non-null  float64
 72  Q06307                      24351 non-null  float64
 73  Q06308                      24351 non-null  float64
 74  Q06309                      24351 non-null  float64
 75  Q06310                      24351 non-null  float64
 76  Q06311                      24351 non-null  float64
 77  H001                        24351 non-null  float64
 78  H002                        24351 non-null  float64
 79  Escolaridade                24351 non-null  int64
 80  Renda                       24351 non-null  float64
 81  Quant_trabalhos             24351 non-null  int64
 82  Horas_trabalhadas           24351 non-null  float64
 83  Temporariamente_afastado    24351 non-null  object
 84  Mobilidade_auxiliar         24351 non-null  float64
 85  Avaliacao_plano             24351 non-null  object
 86  Plano_publico               24351 non-null  float64
 87  Cobertura_plano             24351 non-null  float64
 88  Exposicao_quimica           24351 non-null  int64
 89  Exposicao_ruido             24351 non-null  int64
 90  Exposicao_lixo              24351 non-null  int64
 91  Exposicao_minerio           24351 non-null  int64
 92  Dor_peito                   24351 non-null  object
 93  Faixa_ex_fisico             24282 non-null  object
 94  Inicio_tabagismo            24351 non-null  object
 95  Tempo_parou_fumar           24351 non-null  object
 96  Intensidade_fumo            24351 non-null  float64
 97  Doses_semanais              24351 non-null  float64
 98  Quant_doses_alcool_semanal  24351 non-null  object
dtypes: float64(79), int64(12), object(8)
memory usage: 18.4+ MB

In [53]:
df5 = pd.read_csv('..\\Bases\\Criados\\base_plano_cartesiano.csv')

In [54]:
df5.shape

(24318, 81)

In [55]:
df5.columns[df5.isnull().any()]

Index([], dtype='object')

In [60]:
tipos_df = pd.DataFrame({
    'Coluna': df5.columns,
    'Tipo': df5.dtypes.values
})
tipos_df

                        Coluna     Tipo
0                        V0001    int64
1                        V0024    int64
2                      UPA_PNS    int64
3                    V0006_PNS    int64
4                       C00301  float64
..                         ...      ...
76              Doses_semanais  float64
77  Quant_doses_alcool_semanal   object
78       horas_dispositivos_tv  float64
79                         imc  float64
80                   faixa_imc   object

[81 rows x 2 columns]

### Checando dados inconsistentes

In [ ]:
df.loc[df['Q064'] > df['C008'], ['C008', 'Q064']] #checando se a idade do diagnóstico é maior que a idade do morador

Empty DataFrame
Columns: [C008, Q064]
Index: []

In [45]:
# Ver duplicados na base pns2019
duplicados_pns = pns2019[pns2019.duplicated('chave_pessoa', keep=False)]

# Ver duplicados na base base_outliers
duplicados_outliers = base_sem_outliers[base_sem_outliers.duplicated('chave_pessoa', keep=False)]

print("Duplicados em pns2019:", pns2019['chave_pessoa'].duplicated().sum())
print("Duplicados em base_outliers:", base_sem_outliers['chave_pessoa'].duplicated().sum())

Duplicados em pns2019: 0
Duplicados em base_outliers: 0