In [1]:
# Import numerical libraries
import pandas as pd
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
from tableone import TableOne

In [3]:
data = pd.read_csv('..\\Bases\\Criados\\base_doencas_cardiacas.csv')

In [6]:
categorical = ['V0001', 'V0026', 'V0031', 'B001', 'C006', 'C009', 'C011', 'D00901', 'D014', 'E006011', 'E008', 
                'F001011', 'F007011', 'F008011', 'VDF001', 'G059', 'G060', 'G062', 
                'I00102', 'I006', 'I004', 'I00401', 'I00402', 'I00403', 'J001', 'J00101', 'J002', 'J00402', 'J00404', 'J007', 'J00801', 'J01101', 
                'M00203', 'M011011', 'M011021', 'M011051', 'M011071', 'N004', 'N005', 'N008', 'N010', 'N011', 'N012', 'N016', 'P02601', 'P027',
                'P04501', 'P04502', 'P050', 'P051', 'P052', 'P05401', 'P05404', 'P05407', 'P05410', 'P05413', 'P05416', 'P05419', 'P06701', 'P068', 
                'Q00201', 'Q03001', 'Q060', 'Q06306', 'Q06506', 'Q06507', 'Q06508', 'Q06509', 'Q06601', 'Q067', 'Q068', 'Q11006', 'Q128', 'T001', 'H003', 'H004', 'H010']

continuous = ['C008', 'E01602', 'E017', 'E01802', 'E019', 'F001021', 'F007021', 'F008021', 'VDF00102', 'P00104', 'P00404', 'P00901', 
              'P01101', 'P02001', 'P018', 'P02002', 'P02501', 'P02602', 'P02801', 'P029', 'P035', 'P03701', 'P03702', 'P053', 'Q064']

In [7]:
# Crie uma Tabela 1 simples sem nenhuma variável de agrupamento
# Teste de normalidade, multimodalidade (Teste de Mergulho de Hartigan) e valores discrepantes (teste de Tukey)

mytable = TableOne(data, categorical=categorical, continuous=continuous, dip_test=False, normal_test=False, tukey_test=False, decimals=3, include_null=True)

c:\Users\bkser\AppData\Local\Programs\Python\Python313\Lib\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['None' 'None' 3.0 5.0 'None' 'None' 'None' 'None' 'None' 'None' 'None'
 4.0 'None' 'None' 5.0 'None' 'None' 3.0 'None' 'None' 'None' 'None' 4.0
 5.0 'None' 'None' 'None' 'None' 'None' 'None' 'None' 4.0 3.0 5.0 5.0 5.0
 9.0 'None' 'None' 5.0 5.0]' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
c:\Users\bkser\AppData\Local\Programs\Python\Python313\Lib\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['None' 'None' 1.0 2.0 'None' 'None' 'None' 'None' 'None' 'None' 'None'
 2.0 'None' 'None' 2.0 'None' 'None' 2.0 'None' 'None' 'None' 'None' 2.0
 2.0 'None' 'None' 'None' 'None' 'None' 'None' 'None' 2.0 2.0 1.0 1.0 1.0
 1.0 'None' 'None' 1.0 2.0]' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
c:\Users\bkser\AppData\Local\Programs\Python\Python313\Lib\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None'
 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None'
 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None'
 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None'
 'None']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
c:\Users\bkser\AppData\Local\Programs\Python\Python313\Lib\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None'
 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None'
 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None'
 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None'
 'None']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
c:\Users\bkser\AppData\Local\Programs\Python\Python313\Lib\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['None' 2.0 'None' 'None' 'None' 'None' 'None' 'None' 'None' 1.0 1.0 2.0
 2.0 'None' 2.0 'None' 'None' 1.0 'None' 2.0 'None' 'None' 1.0 2.0 'None'
 'None' 2.0 'None' 'None' 'None' 2.0 1.0 'None' 'None' 'None' 'None' 2.0
 'None' 'None' 2.0 2.0]' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
c:\Users\bkser\AppData\Local\Programs\Python\Python313\Lib\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['None' 1.0 'None' 'None' 'None' 'None' 'None' 'None' 'None' 2.0 2.0 1.0
 1.0 'None' 1.0 'None' 'None' 2.0 'None' 1.0 'None' 'None' 2.0 1.0 'None'
 'None' 2.0 'None' 'None' 'None' 1.0 2.0 'None' 'None' 'None' 'None' 1.0
 'None' 'None' 1.0 1.0]' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
c:\Users\bkser\AppData\Local\Programs\Python\Python313\Lib\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None'
 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None'
 'None' 'None' 'None' 'None' 'None' 'None' 2.0 'None' 'None' 'None' 'None'
 'None' 'None' 'None' 2.0 2.0 2.0 'None' 'None' 2.0 'None']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
c:\Users\bkser\AppData\Local\Programs\Python\Python313\Lib\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None'
 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None'
 'None' 'None' 'None' 'None' 'None' 'None' 1.0 'None' 'None' 'None' 'None'
 'None' 'None' 'None' 'None' 2.0 2.0 'None' 'None' 1.0 'None']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
c:\Users\bkser\AppData\Local\Programs\Python\Python313\Lib\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None'
 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None'
 'None' 'None' 'None' 'None' 'None' 'None' 1.0 'None' 'None' 'None' 'None'
 'None' 'None' 'None' 'None' 2.0 1.0 'None' 'None' 1.0 'None']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
c:\Users\bkser\AppData\Local\Programs\Python\Python313\Lib\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None'
 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None'
 'None' 'None' 'None' 'None' 'None' 'None' 1.0 'None' 'None' 'None' 'None'
 'None' 'None' 'None' 'None' 2.0 1.0 'None' 'None' 1.0 'None']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
c:\Users\bkser\AppData\Local\Programs\Python\Python313\Lib\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None'
 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None'
 'None' 'None' 'None' 'None' 'None' 'None' 1.0 'None' 'None' 'None' 'None'
 'None' 'None' 'None' 'None' 1.0 1.0 'None' 'None' 1.0 'None']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
c:\Users\bkser\AppData\Local\Programs\Python\Python313\Lib\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 8.0
 'None' 'None' 'None' 'None' 'None' 'None' 1.0 'None' 'None' 'None' 'None'
 'None' 'None' 'None' 'None' 'None' 8.0 2.0 'None' 'None' 11.0 'None'
 'None' 'None' 1.0 'None' 'None' 'None' 'None' 'None']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
c:\Users\bkser\AppData\Local\Programs\Python\Python313\Lib\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 2.0
 'None' 'None' 'None' 'None' 'None' 'None' 2.0 'None' 'None' 'None' 'None'
 'None' 'None' 'None' 'None' 'None' 2.0 3.0 'None' 'None' 2.0 'None'
 'None' 'None' 2.0 'None' 'None' 'None' 'None' 'None']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
c:\Users\bkser\AppData\Local\Programs\Python\Python313\Lib\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['None' 1.0 1.0 'None' 2.0 1.0 2.0 2.0 2.0 'None' 1.0 2.0 1.0 1.0 1.0 1.0
 1.0 1.0 2.0 1.0 1.0 1.0 1.0 1.0 'None' 'None' 2.0 2.0 1.0 1.0 'None' 1.0
 1.0 1.0 2.0 2.0 1.0 'None' 2.0 2.0 2.0]' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
c:\Users\bkser\AppData\Local\Programs\Python\Python313\Lib\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None'
 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None'
 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None'
 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None'
 'None']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
c:\Users\bkser\AppData\Local\Programs\Python\Python313\Lib\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None'
 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None'
 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None'
 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None'
 'None']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
c:\Users\bkser\AppData\Local\Programs\Python\Python313\Lib\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None'
 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None'
 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None'
 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None'
 'None']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
c:\Users\bkser\AppData\Local\Programs\Python\Python313\Lib\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None'
 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None'
 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None'
 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None'
 'None']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
c:\Users\bkser\AppData\Local\Programs\Python\Python313\Lib\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[2.0 'None' 2.0 2.0 1.0 1.0 2.0 2.0 2.0 'None' 'None' 'None' 'None' 2.0
 'None' 2.0 2.0 'None' 2.0 'None' 2.0 2.0 'None' 'None' 2.0 2.0 'None' 1.0
 2.0 2.0 'None' 'None' 2.0 1.0 1.0 2.0 'None' 2.0 2.0 'None' 'None']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
c:\Users\bkser\AppData\Local\Programs\Python\Python313\Lib\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[2.0 'None' 2.0 2.0 2.0 2.0 2.0 2.0 2.0 'None' 'None' 'None' 'None' 2.0
 'None' 2.0 2.0 'None' 2.0 'None' 2.0 2.0 'None' 'None' 2.0 2.0 'None' 1.0
 2.0 2.0 'None' 'None' 2.0 1.0 2.0 2.0 'None' 2.0 2.0 'None' 'None']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
c:\Users\bkser\AppData\Local\Programs\Python\Python313\Lib\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['None' 'None' 'None' 'None' 1.0 1.0 'None' 'None' 'None' 'None' 'None'
 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None'
 'None' 'None' 'None' 'None' 'None' 'None' 1.0 'None' 'None' 'None' 'None'
 'None' 1.0 2.0 'None' 'None' 'None' 'None' 'None' 'None']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
c:\Users\bkser\AppData\Local\Programs\Python\Python313\Lib\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None'
 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None'
 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None'
 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None'
 'None']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
c:\Users\bkser\AppData\Local\Programs\Python\Python313\Lib\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[3.0 1.0 1.0 1.0 'None' 1.0 'None' 1.0 2.0 1.0 3.0 1.0 3.0 1.0 1.0 3.0 3.0
 3.0 'None' 3.0 1.0 3.0 'None' 3.0 3.0 3.0 1.0 1.0 1.0 3.0 1.0 1.0 1.0 1.0
 1.0 3.0 3.0 3.0 1.0 3.0 3.0]' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
c:\Users\bkser\AppData\Local\Programs\Python\Python313\Lib\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['None' 'None' 'None' 'None' 5.0 'None' 5.0 'None' 'None' 'None' 'None'
 'None' 'None' 'None' 'None' 'None' 'None' 'None' 1.0 'None' 'None' 'None'
 5.0 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None'
 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
c:\Users\bkser\AppData\Local\Programs\Python\Python313\Lib\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['None' 'None' 'None' 'None' 1.0 'None' 1.0 'None' 'None' 'None' 'None'
 'None' 'None' 'None' 'None' 'None' 'None' 'None' 1.0 'None' 'None' 'None'
 5.0 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None'
 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
c:\Users\bkser\AppData\Local\Programs\Python\Python313\Lib\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['None' 'None' 'None' 'None' 5.0 'None' 5.0 'None' 'None' 'None' 'None'
 'None' 'None' 'None' 'None' 'None' 'None' 'None' 5.0 'None' 'None' 'None'
 5.0 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None'
 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
c:\Users\bkser\AppData\Local\Programs\Python\Python313\Lib\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['None' 'None' 'None' 'None' 5.0 'None' 5.0 'None' 'None' 'None' 'None'
 'None' 'None' 'None' 'None' 'None' 'None' 'None' 5.0 'None' 'None' 'None'
 1.0 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None'
 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
c:\Users\bkser\AppData\Local\Programs\Python\Python313\Lib\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['None' 'None' 'None' 'None' 5.0 'None' 5.0 'None' 'None' 'None' 'None'
 'None' 'None' 'None' 'None' 'None' 'None' 'None' 5.0 'None' 'None' 'None'
 5.0 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None'
 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
c:\Users\bkser\AppData\Local\Programs\Python\Python313\Lib\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['None' 'None' 'None' 'None' 5.0 'None' 5.0 'None' 'None' 'None' 'None'
 'None' 'None' 'None' 'None' 'None' 'None' 'None' 5.0 'None' 'None' 'None'
 5.0 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None'
 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
c:\Users\bkser\AppData\Local\Programs\Python\Python313\Lib\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['None' 'None' 'None' 'None' 5.0 'None' 5.0 'None' 'None' 'None' 'None'
 'None' 'None' 'None' 'None' 'None' 'None' 'None' 5.0 'None' 'None' 'None'
 5.0 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None'
 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
c:\Users\bkser\AppData\Local\Programs\Python\Python313\Lib\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['None' 'None' 2.0 'None' 'None' 2.0 'None' 'None' 'None' 'None' 'None'
 'None' 'None' 1.0 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None'
 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None'
 'None' 'None' 'None' 'None' 1.0 'None' 'None' 2.0 'None']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
c:\Users\bkser\AppData\Local\Programs\Python\Python313\Lib\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['None' 'None' 2.0 'None' 'None' 2.0 'None' 'None' 'None' 'None' 'None'
 'None' 'None' 2.0 'None' 'None' 'None' 'None' 'None' 'None' 'None' 'None'

In [8]:
# View Table 1 (note the remarks below the table)
mytable

                         Missing             Overall
n                                                 41
V0001, n (%)        21                   11 (26.829)
                    22                     1 (2.439)
                    23                   10 (24.390)
                    24                     1 (2.439)
                    26                     3 (7.317)
                    28                    8 (19.512)
                    29                    5 (12.195)
                    50                     2 (4.878)
V0026, n (%)        1                    22 (53.659)
                    2                    19 (46.341)
V0031, n (%)        1                     6 (14.634)
                    3                      1 (2.439)
                    4                    34 (82.927)
B001, n (%)         1.0                  33 (80.488)
                    2.0                   7 (17.073)
                    3.0                    1 (2.439)
C006, n (%)         1.0                  15 (36.585)
                    2.0                  26 (63.415)
C008, mean (SD)                0      96.878 (2.462)
C009, n (%)         1.0                  14 (34.146)
                    2.0                   8 (19.512)
                    4.0                  19 (46.341)
C011, n (%)         1.0                   6 (14.634)
                    3.0                  30 (73.171)
                    4.0                   5 (12.195)
D00901, n (%)       3.0                    3 (7.317)
                    4.0                    3 (7.317)
                    5.0                   8 (19.512)
                    9.0                    1 (2.439)
                    None                 26 (63.415)
D014, n (%)         1.0                   6 (14.634)
                    2.0                   9 (21.951)
                    None                 26 (63.415)
E006011, n (%)      None                41 (100.000)
E008, n (%)         None                41 (100.000)
E01602, mean (SD)             41           nan (nan)
E017, mean (SD)               41           nan (nan)
E01802, mean (SD)             41           nan (nan)
E019, mean (SD)               41           nan (nan)
F001011, n (%)      1.0                  38 (92.683)
                    2.0                    3 (7.317)
F001021, mean (SD)             3  1508.211 (895.419)
F007011, n (%)      2.0                 41 (100.000)
F007021, mean (SD)            41           nan (nan)
F008011, n (%)      1.0                    2 (4.878)
                    2.0                  39 (95.122)
F008021, mean (SD)            39   550.000 (353.553)
VDF001, n (%)       1.0                    2 (4.878)
                    2.0                  39 (95.122)
VDF00102, mean (SD)           39     998.000 (0.000)
G059, n (%)         1.0                  16 (39.024)
                    2.0                  25 (60.976)
G060, n (%)         1.0                   5 (12.195)
                    2.0                  11 (26.829)
                    None                 25 (60.976)
G062, n (%)         1.0                  10 (24.390)
                    2.0                   6 (14.634)
                    None                 25 (60.976)
I00102, n (%)       1.0                   5 (12.195)
                    2.0                  36 (87.805)
I006, n (%)         2.0                   5 (12.195)
                    None                 36 (87.805)
I004, n (%)         1.0                    2 (4.878)
                    2.0                    2 (4.878)
                    None                 37 (90.244)
I00401, n (%)       1.0                    3 (7.317)
                    2.0                    1 (2.439)
                    None                 37 (90.244)
I00402, n (%)       1.0                    3 (7.317)
                    2.0                    1 (2.439)
                    None                 37 (90.244)
I00403, n (%)       1.0                    4 (9.756)
                    None                 37 (90.244)
J001, n (%)         1.0                    1 (2.439)
                    2.0                  13 (31.707)
                    3.0                  18 (43.902)
                    4.0                   6 (14.634)
                    5.0                    3 (7.317)
J00101, n (%)       1.0                    1 (2.439)
                    2.0                  13 (31.707)
                    3.0                  17 (41.463)
                    4.0                   8 (19.512)
                    5.0                    2 (4.878)
J002, n (%)         1.0                   6 (14.634)
                    2.0                  35 (85.366)
J00402, n (%)       1.0                    2 (4.878)
                    11.0                   1 (2.439)
                    2.0                    1 (2.439)
                    8.0                    2 (4.878)
                    None                 35 (85.366)
J00404, n (%)       2.0                   5 (12.195)
                    3.0                    1 (2.439)
                    None                 35 (85.366)
J007, n (%)         1.0                  34 (82.927)
                    2.0                   7 (17.073)
J00801, n (%)       1.0                  21 (51.220)
                    2.0                  13 (31.707)
                    None                  7 (17.073)
J01101, n (%)       1.0                  33 (80.488)
                    2.0                   5 (12.195)
                    3.0                    2 (4.878)
                    4.0                    1 (2.439)
M00203, n (%)       1.0                  24 (58.537)
                    2.0                  17 (41.463)
M011011, n (%)      None                41 (100.000)
M011021, n (%)      None                41 (100.000)
M011051, n (%)      None                41 (100.000)
M011071, n (%)      None                41 (100.000)
N004, n (%)         1.0                   5 (12.195)
                    2.0                  20 (48.780)
                    None                 16 (39.024)
N005, n (%)         1.0                    2 (4.878)
                    2.0                  23 (56.098)
                    None                 16 (39.024)
N008, n (%)         1.0                    4 (9.756)
                    2.0                    1 (2.439)
                    None                 36 (87.805)
N010, n (%)         1.0                  23 (56.098)
                    2.0                   6 (14.634)
                    3.0                    2 (4.878)
                    4.0                  10 (24.390)
N011, n (%)         1.0                  24 (58.537)
                    2.0                  13 (31.707)
                    3.0                    1 (2.439)
                    4.0                    3 (7.317)
N012, n (%)         1.0                  27 (65.854)
                    2.0                  11 (26.829)
                    3.0                    1 (2.439)
                    4.0                    2 (4.878)
N016, n (%)         1.0                  28 (68.293)
                    2.0                   9 (21.951)
                    3.0                    2 (4.878)
                    4.0                    2 (4.878)
P00104, mean (SD)              0     62.732 (13.485)
P00404, mean (SD)              0     158.951 (8.891)
P00901, mean (SD)              0       3.805 (2.619)
P01101, mean (SD)              0       3.098 (2.311)
P02001, mean (SD)              0       0.756 (1.729)
P018, mean (SD)                0       4.561 (2.570)
P02002, mean (SD)              0       0.512 (1.451)
P02501, mean (SD)              0       2.122 (2.874)
P02602, mean (SD)              0       0.341 (1.527)
P02601, n (%)       2.0                    3 (7.317)
                    3.0                  21 (51.220)
                    4.0                  16 (39.024)
                    5.0                    1 (2.439)
P027, n (%)         1.0                  39 (95.122)
                    2.0                    1 (2.439)
                    3.0                    1 (2.439)
P02801, mean (SD)             40         7.000 (nan)
P029, mean (SD)               39       1.500 (0.707)
P035, mean (SD)               39       5.000 (2.828)
P03701, mean (SD)             39       0.500 (0.707)
P03702, mean (SD)             39     20.000 (28.284)
P04501, n (%)       1.0                    2 (4.878)
                    2.0                  10 (24.390)
                    3.0                   9 (21.951)
                    4.0                    1 (2.439)
                    5.0                   6 (14.634)
                    6.0                  13 (31.707)
P04502, n (%)       3.0                    1 (2.439)
                    6.0                  40 (97.561)
P050, n (%)         1.0                    4 (9.756)
                    3.0                  37 (90.244)
P051, n (%)         None                41 (100.000)
P052, n (%)         1.0                  19 (46.341)
                    2.0                    1 (2.439)
                    3.0                  17 (41.463)
                    None                   4 (9.756)
P053, mean (SD)               18     19.174 (18.522)
P05401, n (%)       1.0                    1 (2.439)
                    5.0                    3 (7.317)
                    None                 37 (90.244)
P05404, n (%)       1.0                    3 (7.317)
                    5.0                    1 (2.439)
                    None                 37 (90.244)
P05407, n (%)       5.0                    4 (9.756)
                    None                 37 (90.244)
P05410, n (%)       1.0                    1 (2.439)
                    5.0                    3 (7.317)
                    None                 37 (90.244)
P05413, n (%)       5.0                    4 (9.756)
                    None                 37 (90.244)
P05416, n (%)       5.0                    4 (9.756)
                    None                 37 (90.244)
P05419, n (%)       5.0                    4 (9.756)
                    None                 37 (90.244)
P06701, n (%)       4.0                 41 (100.000)
P068, n (%)         1.0                    3 (7.317)
                    2.0                    2 (4.878)
                    5.0                  36 (87.805)
Q00201, n (%)       1.0                  24 (58.537)
                    2.0                  17 (41.463)
Q03001, n (%)       1.0                   6 (14.634)
                    2.0                  35 (85.366)
Q060, n (%)         1.0                    4 (9.756)
                    2.0                  37 (90.244)
Q06306, n (%)       1.0                   5 (12.195)
                    2.0                  36 (87.805)
Q064, mean (SD)               36      85.400 (6.693)
Q06506, n (%)       1.0                    2 (4.878)
                    2.0                    3 (7.317)
                    None                 36 (87.805)
Q06507, n (%)       2.0                   5 (12.195)
                    None                 36 (87.805)
Q06508, n (%)       1.0                    4 (9.756)
                    2.0                    1 (2.439)
                    None                 36 (87.805)
Q06509, n (%)       1.0                    4 (9.756)
                    2.0                    1 (2.439)
                    None                 36 (87.805)
Q06601, n (%)       1.0                    1 (2.439)
                    2.0                    4 (9.756)
                    None                 36 (87.805)
Q067, n (%)         1.0                    3 (7.317)
                    2.0                    2 (4.878)
                    None                 36 (87.805)
Q068, n (%)         1.0                   7 (17.073)
                    2.0                  34 (82.927)
Q11006, n (%)       1.0                    2 (4.878)
                    2.0                  39 (95.122)
Q128, n (%)         1.0                    3 (7.317)
                    2.0                  38 (92.683)
T001, n (%)         1.0                    3 (7.317)
                    2.0                  38 (92.683)
H003, n (%)         2.0                   9 (21.951)
                    4.0                    4 (9.756)
                    7.0                    1 (2.439)
                    None                 27 (65.854)
H004, n (%)         1.0                    4 (9.756)
                    10.0                   1 (2.439)
                    12.0                  6 (14.634)
                    6.0                    1 (2.439)
                    7.0                    1 (2.439)
                    8.0                    1 (2.439)
                    None                 27 (65.854)
H010, n (%)         1.0                    1 (2.439)
                    2.0                    1 (2.439)
                    4.0                    2 (4.878)
                    None                 37 (90.244)

In [9]:
print(mytable.tabulate(tablefmt="github"))

|                     |      | Missing   | Overall            |
|---------------------|------|-----------|--------------------|
| n                   |      |           | 41                 |
| V0001, n (%)        | 21   |           | 11 (26.829)        |
|                     | 22   |           | 1 (2.439)          |
|                     | 23   |           | 10 (24.390)        |
|                     | 24   |           | 1 (2.439)          |
|                     | 26   |           | 3 (7.317)          |
|                     | 28   |           | 8 (19.512)         |
|                     | 29   |           | 5 (12.195)         |
|                     | 50   |           | 2 (4.878)          |
| V0026, n (%)        | 1    |           | 22 (53.659)        |
|                     | 2    |           | 19 (46.341)        |
| V0031, n (%)        | 1    |           | 6 (14.634)         |
|                     | 3    |           | 1 (2.439)          |
|                     | 4    |           | 34 (82.927)        |
| B001, n (%)         | 1.0  |           | 33 (80.488)        |
|                     | 2.0  |           | 7 (17.073)         |
|                     | 3.0  |           | 1 (2.439)          |
| C006, n (%)         | 1.0  |           | 15 (36.585)        |
|                     | 2.0  |           | 26 (63.415)        |
| C008, mean (SD)     |      | 0         | 96.878 (2.462)     |
| C009, n (%)         | 1.0  |           | 14 (34.146)        |
|                     | 2.0  |           | 8 (19.512)         |
|                     | 4.0  |           | 19 (46.341)        |
| C011, n (%)         | 1.0  |           | 6 (14.634)         |
|                     | 3.0  |           | 30 (73.171)        |
|                     | 4.0  |           | 5 (12.195)         |
| D00901, n (%)       | 3.0  |           | 3 (7.317)          |
|                     | 4.0  |           | 3 (7.317)          |
|                     | 5.0  |           | 8 (19.512)         |
|                     | 9.0  |           | 1 (2.439)          |
|                     | None |           | 26 (63.415)        |
| D014, n (%)         | 1.0  |           | 6 (14.634)         |
|                     | 2.0  |           | 9 (21.951)         |
|                     | None |           | 26 (63.415)        |
| E006011, n (%)      | None |           | 41 (100.000)       |
| E008, n (%)         | None |           | 41 (100.000)       |
| E01602, mean (SD)   |      | 41        | nan (nan)          |
| E017, mean (SD)     |      | 41        | nan (nan)          |
| E01802, mean (SD)   |      | 41        | nan (nan)          |
| E019, mean (SD)     |      | 41        | nan (nan)          |
| F001011, n (%)      | 1.0  |           | 38 (92.683)        |
|                     | 2.0  |           | 3 (7.317)          |
| F001021, mean (SD)  |      | 3         | 1508.211 (895.419) |
| F007011, n (%)      | 2.0  |           | 41 (100.000)       |
| F007021, mean (SD)  |      | 41        | nan (nan)          |
| F008011, n (%)      | 1.0  |           | 2 (4.878)          |
|                     | 2.0  |           | 39 (95.122)        |
| F008021, mean (SD)  |      | 39        | 550.000 (353.553)  |
| VDF001, n (%)       | 1.0  |           | 2 (4.878)          |
|                     | 2.0  |           | 39 (95.122)        |
| VDF00102, mean (SD) |      | 39        | 998.000 (0.000)    |
| G059, n (%)         | 1.0  |           | 16 (39.024)        |
|                     | 2.0  |           | 25 (60.976)        |
| G060, n (%)         | 1.0  |           | 5 (12.195)         |
|                     | 2.0  |           | 11 (26.829)        |
|                     | None |           | 25 (60.976)        |
| G062, n (%)         | 1.0  |           | 10 (24.390)        |
|                     | 2.0  |           | 6 (14.634)         |
|                     | None |           | 25 (60.976)        |
| I00102, n (%)       | 1.0  |           | 5 (12.195)         |
|                     | 2.0  |           | 36 (87.805)        |
| I006, n (%)         | 2.0  |           | 5 (12.195)         |
|                     | None |           | 36 (87.805)        |
| I004, n (%)         | 1.0  |           | 2 (4.878)          |
|                     | 2.0  |           | 2 (4.878)          |
|                     | None |           | 37 (90.244)        |
| I00401, n (%)       | 1.0  |           | 3 (7.317)          |
|                     | 2.0  |           | 1 (2.439)          |
|                     | None |           | 37 (90.244)        |
| I00402, n (%)       | 1.0  |           | 3 (7.317)          |
|                     | 2.0  |           | 1 (2.439)          |
|                     | None |           | 37 (90.244)        |
| I00403, n (%)       | 1.0  |           | 4 (9.756)          |
|                     | None |           | 37 (90.244)        |
| J001, n (%)         | 1.0  |           | 1 (2.439)          |
|                     | 2.0  |           | 13 (31.707)        |
|                     | 3.0  |           | 18 (43.902)        |
|                     | 4.0  |           | 6 (14.634)         |
|                     | 5.0  |           | 3 (7.317)          |
| J00101, n (%)       | 1.0  |           | 1 (2.439)          |
|                     | 2.0  |           | 13 (31.707)        |
|                     | 3.0  |           | 17 (41.463)        |
|                     | 4.0  |           | 8 (19.512)         |
|                     | 5.0  |           | 2 (4.878)          |
| J002, n (%)         | 1.0  |           | 6 (14.634)         |
|                     | 2.0  |           | 35 (85.366)        |
| J00402, n (%)       | 1.0  |           | 2 (4.878)          |
|                     | 11.0 |           | 1 (2.439)          |
|                     | 2.0  |           | 1 (2.439)          |
|                     | 8.0  |           | 2 (4.878)          |
|                     | None |           | 35 (85.366)        |
| J00404, n (%)       | 2.0  |           | 5 (12.195)         |
|                     | 3.0  |           | 1 (2.439)          |
|                     | None |           | 35 (85.366)        |
| J007, n (%)         | 1.0  |           | 34 (82.927)        |
|                     | 2.0  |           | 7 (17.073)         |
| J00801, n (%)       | 1.0  |           | 21 (51.220)        |
|                     | 2.0  |           | 13 (31.707)        |
|                     | None |           | 7 (17.073)         |
| J01101, n (%)       | 1.0  |           | 33 (80.488)        |
|                     | 2.0  |           | 5 (12.195)         |
|                     | 3.0  |           | 2 (4.878)          |
|                     | 4.0  |           | 1 (2.439)          |
| M00203, n (%)       | 1.0  |           | 24 (58.537)        |
|                     | 2.0  |           | 17 (41.463)        |
| M011011, n (%)      | None |           | 41 (100.000)       |
| M011021, n (%)      | None |           | 41 (100.000)       |
| M011051, n (%)      | None |           | 41 (100.000)       |
| M011071, n (%)      | None |           | 41 (100.000)       |
| N004, n (%)         | 1.0  |           | 5 (12.195)         |
|                     | 2.0  |           | 20 (48.780)        |
|                     | None |           | 16 (39.024)        |
| N005, n (%)         | 1.0  |           | 2 (4.878)          |
|                     | 2.0  |           | 23 (56.098)        |
|                     | None |           | 16 (39.024)        |
| N008, n (%)         | 1.0  |           | 4 (9.756)          |
|                     | 2.0  |           | 1 (2.439)          |
|                     | None |           | 36 (87.805)        |
| N010, n (%)         | 1.0  |           | 23 (56.098)        |
|                     | 2.0  |           | 6 (14.634)         |
|                     | 3.0  |           | 2 (4.878)          |
|                     | 4.0  |           | 10 (24.390)        |
| N011, n (%)         | 1.0  |           | 24 (58.537)        |
|                     | 2.0  |           | 13 (31.707)        |
|                     | 3.0  |           | 1 (2.439)          |
|                     | 4.0  |           | 3 (7.317)          |
| N012, n (%)         | 1.0  |           | 27 (65.854)        |
|                     | 2.0  |           | 11 (26.829)        |
|                     | 3.0  |           | 1 (2.439)          |
|                     | 4.0  |           | 2 (4.878)          |
| N016, n (%)         | 1.0  |           | 28 (68.293)        |
|                     | 2.0  |           | 9 (21.951)         |
|                     | 3.0  |           | 2 (4.878)          |
|                     | 4.0  |           | 2 (4.878)          |
| P00104, mean (SD)   |      | 0         | 62.732 (13.485)    |
| P00404, mean (SD)   |      | 0         | 158.951 (8.891)    |
| P00901, mean (SD)   |      | 0         | 3.805 (2.619)      |
| P01101, mean (SD)   |      | 0         | 3.098 (2.311)      |
| P02001, mean (SD)   |      | 0         | 0.756 (1.729)      |
| P018, mean (SD)     |      | 0         | 4.561 (2.570)      |
| P02002, mean (SD)   |      | 0         | 0.512 (1.451)      |
| P02501, mean (SD)   |      | 0         | 2.122 (2.874)      |
| P02602, mean (SD)   |      | 0         | 0.341 (1.527)      |
| P02601, n (%)       | 2.0  |           | 3 (7.317)          |
|                     | 3.0  |           | 21 (51.220)        |
|                     | 4.0  |           | 16 (39.024)        |
|                     | 5.0  |           | 1 (2.439)          |
| P027, n (%)         | 1.0  |           | 39 (95.122)        |
|                     | 2.0  |           | 1 (2.439)          |
|                     | 3.0  |           | 1 (2.439)          |
| P02801, mean (SD)   |      | 40        | 7.000 (nan)        |
| P029, mean (SD)     |      | 39        | 1.500 (0.707)      |
| P035, mean (SD)     |      | 39        | 5.000 (2.828)      |
| P03701, mean (SD)   |      | 39        | 0.500 (0.707)      |
| P03702, mean (SD)   |      | 39        | 20.000 (28.284)    |
| P04501, n (%)       | 1.0  |           | 2 (4.878)          |
|                     | 2.0  |           | 10 (24.390)        |
|                     | 3.0  |           | 9 (21.951)         |
|                     | 4.0  |           | 1 (2.439)          |
|                     | 5.0  |           | 6 (14.634)         |
|                     | 6.0  |           | 13 (31.707)        |
| P04502, n (%)       | 3.0  |           | 1 (2.439)          |
|                     | 6.0  |           | 40 (97.561)        |
| P050, n (%)         | 1.0  |           | 4 (9.756)          |
|                     | 3.0  |           | 37 (90.244)        |
| P051, n (%)         | None |           | 41 (100.000)       |
| P052, n (%)         | 1.0  |           | 19 (46.341)        |
|                     | 2.0  |           | 1 (2.439)          |
|                     | 3.0  |           | 17 (41.463)        |
|                     | None |           | 4 (9.756)          |
| P053, mean (SD)     |      | 18        | 19.174 (18.522)    |
| P05401, n (%)       | 1.0  |           | 1 (2.439)          |
|                     | 5.0  |           | 3 (7.317)          |
|                     | None |           | 37 (90.244)        |
| P05404, n (%)       | 1.0  |           | 3 (7.317)          |
|                     | 5.0  |           | 1 (2.439)          |
|                     | None |           | 37 (90.244)        |
| P05407, n (%)       | 5.0  |           | 4 (9.756)          |
|                     | None |           | 37 (90.244)        |
| P05410, n (%)       | 1.0  |           | 1 (2.439)          |
|                     | 5.0  |           | 3 (7.317)          |
|                     | None |           | 37 (90.244)        |
| P05413, n (%)       | 5.0  |           | 4 (9.756)          |
|                     | None |           | 37 (90.244)        |
| P05416, n (%)       | 5.0  |           | 4 (9.756)          |
|                     | None |           | 37 (90.244)        |
| P05419, n (%)       | 5.0  |           | 4 (9.756)          |
|                     | None |           | 37 (90.244)        |
| P06701, n (%)       | 4.0  |           | 41 (100.000)       |
| P068, n (%)         | 1.0  |           | 3 (7.317)          |
|                     | 2.0  |           | 2 (4.878)          |
|                     | 5.0  |           | 36 (87.805)        |
| Q00201, n (%)       | 1.0  |           | 24 (58.537)        |
|                     | 2.0  |           | 17 (41.463)        |
| Q03001, n (%)       | 1.0  |           | 6 (14.634)         |
|                     | 2.0  |           | 35 (85.366)        |
| Q060, n (%)         | 1.0  |           | 4 (9.756)          |
|                     | 2.0  |           | 37 (90.244)        |
| Q06306, n (%)       | 1.0  |           | 5 (12.195)         |
|                     | 2.0  |           | 36 (87.805)        |
| Q064, mean (SD)     |      | 36        | 85.400 (6.693)     |
| Q06506, n (%)       | 1.0  |           | 2 (4.878)          |
|                     | 2.0  |           | 3 (7.317)          |
|                     | None |           | 36 (87.805)        |
| Q06507, n (%)       | 2.0  |           | 5 (12.195)         |
|                     | None |           | 36 (87.805)        |
| Q06508, n (%)       | 1.0  |           | 4 (9.756)          |
|                     | 2.0  |           | 1 (2.439)          |
|                     | None |           | 36 (87.805)        |
| Q06509, n (%)       | 1.0  |           | 4 (9.756)          |
|                     | 2.0  |           | 1 (2.439)          |
|                     | None |           | 36 (87.805)        |
| Q06601, n (%)       | 1.0  |           | 1 (2.439)          |
|                     | 2.0  |           | 4 (9.756)          |
|                     | None |           | 36 (87.805)        |
| Q067, n (%)         | 1.0  |           | 3 (7.317)          |
|                     | 2.0  |           | 2 (4.878)          |
|                     | None |           | 36 (87.805)        |
| Q068, n (%)         | 1.0  |           | 7 (17.073)         |
|                     | 2.0  |           | 34 (82.927)        |
| Q11006, n (%)       | 1.0  |           | 2 (4.878)          |
|                     | 2.0  |           | 39 (95.122)        |
| Q128, n (%)         | 1.0  |           | 3 (7.317)          |
|                     | 2.0  |           | 38 (92.683)        |
| T001, n (%)         | 1.0  |           | 3 (7.317)          |
|                     | 2.0  |           | 38 (92.683)        |
| H003, n (%)         | 2.0  |           | 9 (21.951)         |
|                     | 4.0  |           | 4 (9.756)          |
|                     | 7.0  |           | 1 (2.439)          |
|                     | None |           | 27 (65.854)        |
| H004, n (%)         | 1.0  |           | 4 (9.756)          |
|                     | 10.0 |           | 1 (2.439)          |
|                     | 12.0 |           | 6 (14.634)         |
|                     | 6.0  |           | 1 (2.439)          |
|                     | 7.0  |           | 1 (2.439)          |
|                     | 8.0  |           | 1 (2.439)          |
|                     | None |           | 27 (65.854)        |
| H010, n (%)         | 1.0  |           | 1 (2.439)          |
|                     | 2.0  |           | 1 (2.439)          |
|                     | 4.0  |           | 2 (4.878)          |
|                     | None |           | 37 (90.244)        |

In [10]:
#tem que acrescentar mínimo e máximo eu não sei fazer isso ainda
for i in continuous:
    print("{i}, mean (SD / min / max) {l}")

{i}, mean (SD / min / max) {l}
{i}, mean (SD / min / max) {l}
{i}, mean (SD / min / max) {l}
{i}, mean (SD / min / max) {l}
{i}, mean (SD / min / max) {l}
{i}, mean (SD / min / max) {l}
{i}, mean (SD / min / max) {l}
{i}, mean (SD / min / max) {l}
{i}, mean (SD / min / max) {l}
{i}, mean (SD / min / max) {l}
{i}, mean (SD / min / max) {l}
{i}, mean (SD / min / max) {l}
{i}, mean (SD / min / max) {l}
{i}, mean (SD / min / max) {l}
{i}, mean (SD / min / max) {l}
{i}, mean (SD / min / max) {l}
{i}, mean (SD / min / max) {l}
{i}, mean (SD / min / max) {l}
{i}, mean (SD / min / max) {l}
{i}, mean (SD / min / max) {l}
{i}, mean (SD / min / max) {l}
{i}, mean (SD / min / max) {l}
{i}, mean (SD / min / max) {l}
{i}, mean (SD / min / max) {l}
{i}, mean (SD / min / max) {l}