In [7]:
import pandas as pd

In [8]:
colunas = ['V0001', 'V0015', 'V0026', 'V0031', 'B001', 'C006', 'C008', 'C009', 'C011', 'C012', 'D00201', 'D00301', 'D008', 'D00901', 'D014', 'D015', 
           'E001', 'E002', 'E003', 'E004', 'E005', 'E006011', 'E008', 'E011', 'E014011', 'E01601', 'E01603', 'E01605', 'E01602', 'E01604',
           'E017', 'E01801', 'E01802', 'E01804', 'E019', 'E027', 'F001011', 'F007011', 'F008011', 'VDF001', 'F016', 'G059', 'G060', 'G062', 'G032', 'I00102', 'I00103', 'I001031', 'C00301', 'I006', 'I004', 'I00401', 'I00402', 'I00403',
           'I012', 'J001', 'J00101', 'J002', 'J00402', 'J00404', 'J007', 'J00801', 'J01101', 'J060', 'M001', 'M00203', 'M00302', 'M011011', 'M011021', 'M011051', 'M011071', 'N00101', 'N004', 'N005', 'N008', 'N010', 'N011',
           'N012', 'N016', 'P00103', 'P00104', 'P00403', 'P00404', 'P00901', 'P01101', 'P02001', 'P018', 'P02002', 'P02501', 'P02602', 'P02601', 'P027', 'P02801', 'P029', 'P034', 'P035', 'P03701', 'P03702',
           'P04501', 'P04502', 'P050', 'P051', 'P052', 'P053', 'P05401', 'P05404', 'P05407', 'P05410', 'P05413', 'P05416', 'P05419', 'P05901', 'P05902', 'P05903', 'P05904', 'P06701', 'P068', 'Q00101', 'Q00201', 'Q02901', 'Q03001', 'Q05901', 'Q060', 'Q06306', 
           'Q06307', 'Q06308', 'Q06309', 'Q06310', 'Q06311', 'Q064',
           'Q06506', 'Q06507', 'Q06508', 'Q06509', 'Q06601', 'Q067', 'Q068', 'Q11006', 'Q128', 
           'T001', 'H001', 'H002', 'H003', 'H004', 'H010']

In [9]:
df = pd.read_csv('..\Bases\Originais\\pns2019.csv', usecols=colunas)
df.head()

<>:1: SyntaxWarning: invalid escape sequence '\B'
<>:1: SyntaxWarning: invalid escape sequence '\B'
C:\Users\llays\AppData\Local\Temp\ipykernel_7428\800739080.py:1: SyntaxWarning: invalid escape sequence '\B'
  df = pd.read_csv('..\Bases\Originais\\pns2019.csv', usecols=colunas)

,V0001,V0015,V0026,V0031,B001,C00301,C006,C008,C009,C011,...,Q067,Q068,Q11006,Q128,T001,H001,H002,H003,H004,H010
0,11,1,1,1,1.0,1.0,2.0,55.0,1.0,1.0,...,NaN,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0,3.0
1,11,1,1,1,1.0,2.0,1.0,69.0,4.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,11,1,1,1,1.0,3.0,1.0,31.0,2.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,11,1,1,1,1.0,4.0,1.0,9.0,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,11,1,1,1,1.0,5.0,2.0,6.0,4.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
# Códigos dos estados do Nordeste
nordeste = [21, 22, 23, 24, 25, 26, 27, 28, 29]

# Códigos dos estados do Centro-Oeste
centro_oeste = [50, 51, 52, 53]

df_filtrado = df.dropna(subset=['Q06306'])

df_filtrado = df_filtrado[
    (df_filtrado['V0015'] == 1) & #Tipo da entrevista: Realizada (1)
    (df_filtrado['V0001'].isin(nordeste + centro_oeste)) & #Região nordeste e centro-oeste apenas
    (~df_filtrado['C012'].isin([3, 9])) & #Informante do Módulo C 
    (~df_filtrado['D015'].isin([3, 9])) & #Informante do Módulo D 
    (~df_filtrado['E027'].isin([3, 9])) & #Informante do Módulo E 
    (~df_filtrado['F016'].isin([3, 9])) & #Informante do Módulo F 
    (~df_filtrado['G032'].isin([3, 9])) & #Informante do Módulo G 
    (~df_filtrado['I012'].isin([3, 9])) & #Informante do Módulo I 
    (~df_filtrado['J060'].isin([3, 9])) & #Informante do Módulo J 
    (df_filtrado['M001'] == 1) & #Entrevista do adulto selecionado: Realizada (1)
    (~df_filtrado['M00302'].isin([2])) & #O informante desta parte é: (todas as opções menos "Não morador")
    (df_filtrado['C008'] >= 40)  # Pessoas com 40 anos ou mais
]

#Colunas acrescentadas para análise (se for permanecer, mudar oficialmente no tableone antes de tratar): D00201, D00301, D008
# 'E001', 'E002', 'E003', 'E004', 'E005'
# 'E011', 'E014011', 'E01601', 'E01603', 'E01605', 'E01801'
# tirei 'E010010'
# 'I00102', 'I00103', 'I001031','C00301'
# 'M00203' 
# 'N00101'
# peso: 'W00101', 'W00102', 'W00103' (já tirei)
# altura: 'W00201', 'W00202', 'W00203' (já tirei)
# 'P00103', 'P00403'
# tirei o P01001 e o P019
# 'P034'
# tirei o P058
# 'P05901', 'P05902', 'P05903', 'P05904'
# 'Q00101', 'Q02901', 'Q05901'
# 'Q06307', 'Q06308', 'Q06309', 'Q06310', 'Q06311'
# 'R031', 'R032', 'R033'
# 'R010', 'R025', 'R028', 'R029', 'R030'
# 'H001', 'H002'
# Atributos sobre contraceptivo: 'R010', 'R025', 'R028', 'R029', 'R030', 'R031', 'R032', 'R033', 'R034', 'R03601', 'R03607', 'R03608', 'R03610', 'S065', 


colunas_existentes = [col for col in colunas if col in df_filtrado.columns]

df_filtrado = df_filtrado[colunas_existentes]

In [11]:
df_filtrado = df_filtrado.drop(columns=['V0015', 'V0001', 'C012', 'D015', 'E027', 'F016', 'G032', 'I012', 'J060', 'M001', 'M00302'])

In [12]:
df_filtrado.to_csv('..\Bases\Criados\\base_doencas_cardiacas.csv', index=False)

<>:1: SyntaxWarning: invalid escape sequence '\B'
<>:1: SyntaxWarning: invalid escape sequence '\B'
C:\Users\llays\AppData\Local\Temp\ipykernel_7428\859905064.py:1: SyntaxWarning: invalid escape sequence '\B'
  df_filtrado.to_csv('..\Bases\Criados\\base_doencas_cardiacas.csv', index=False)

## Bangunça

In [13]:
df_filtrado[df_filtrado.isnull().any(axis=1)]

,V0026,V0031,B001,C006,C008,C009,C011,D00201,D00301,D008,...,Q067,Q068,Q11006,Q128,T001,H001,H002,H003,H004,H010
64848,1,1,1.0,1.0,81.0,4.0,3.0,2.0,NaN,2.0,...,NaN,2.0,2.0,2.0,2.0,2.0,1.0,NaN,NaN,NaN
64855,1,1,2.0,2.0,54.0,4.0,3.0,2.0,NaN,1.0,...,NaN,2.0,2.0,2.0,2.0,4.0,NaN,NaN,NaN,NaN
64857,1,1,2.0,2.0,41.0,2.0,1.0,2.0,NaN,1.0,...,NaN,2.0,2.0,2.0,2.0,3.0,1.0,NaN,NaN,NaN
64865,1,1,2.0,1.0,62.0,1.0,2.0,2.0,NaN,1.0,...,NaN,2.0,2.0,2.0,2.0,3.0,1.0,NaN,NaN,NaN
64867,1,1,2.0,2.0,51.0,4.0,1.0,2.0,NaN,1.0,...,NaN,2.0,2.0,1.0,2.0,4.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
293694,2,1,2.0,2.0,51.0,1.0,4.0,2.0,NaN,1.0,...,NaN,2.0,1.0,2.0,2.0,3.0,2.0,2.0,7.0,NaN
293697,2,1,2.0,1.0,44.0,2.0,4.0,2.0,NaN,1.0,...,NaN,2.0,2.0,1.0,2.0,4.0,NaN,NaN,NaN,NaN
293709,2,1,2.0,2.0,54.0,4.0,1.0,2.0,NaN,1.0,...,NaN,2.0,2.0,2.0,2.0,4.0,NaN,NaN,NaN,NaN
293712,2,1,3.0,1.0,44.0,4.0,2.0,2.0,NaN,1.0,...,NaN,2.0,2.0,2.0,2.0,3.0,2.0,4.0,8.0,NaN
293718,2,1,2.0,1.0,54.0,4.0,1.0,2.0,NaN,1.0,...,NaN,2.0,1.0,2.0,2.0,2.0,2.0,2.0,8.0,NaN

In [14]:
df_filtrado.columns[df_filtrado.isnull().any()]

Index(['D00301', 'D008', 'D00901', 'D014', 'E002', 'E003', 'E004', 'E005',
       'E006011', 'E008', 'E011', 'E014011', 'E01601', 'E01603', 'E01605',
       'E01602', 'E01604', 'E017', 'E01801', 'E01802', 'E01804', 'E019',
       'G060', 'G062', 'I00103', 'I001031', 'I006', 'I004', 'I00401', 'I00402',
       'I00403', 'J00402', 'J00404', 'J00801', 'M00203', 'M011011', 'M011021',
       'M011051', 'M011071', 'N004', 'N005', 'N008', 'P00103', 'P00104',
       'P00403', 'P00404', 'P02801', 'P029', 'P035', 'P03701', 'P03702',
       'P051', 'P052', 'P053', 'P05401', 'P05404', 'P05407', 'P05410',
       'P05413', 'P05416', 'P05419', 'P05901', 'P05902', 'P05903', 'P05904',
       'Q00201', 'Q03001', 'Q060', 'Q06307', 'Q06308', 'Q06309', 'Q06310',
       'Q06311', 'Q064', 'Q06506', 'Q06507', 'Q06508', 'Q06509', 'Q06601',
       'Q067', 'H002', 'H003', 'H004', 'H010'],
      dtype='object')

In [15]:
df_filtrado.isnull().sum()[df_filtrado.isnull().sum() > 0].sort_values(ascending=False)

E01605     24388
E01804     24373
E008       24283
E014011    24247
E01604     24240
           ...
D008         687
Q00201       216
P00104        27
P00404        27
M00203         3
Length: 84, dtype: int64

In [16]:
(df_filtrado.isnull().sum() > 0).sum()

np.int64(84)

In [17]:
faltante1 = df_filtrado[df_filtrado['D008'].isna() & df_filtrado['D00901'].isna()]
faltante1

,V0026,V0031,B001,C006,C008,C009,C011,D00201,D00301,D008,...,Q067,Q068,Q11006,Q128,T001,H001,H002,H003,H004,H010
65194,1,1,3.0,2.0,40.0,4.0,4.0,1.0,9.0,NaN,...,NaN,2.0,2.0,2.0,2.0,4.0,NaN,NaN,NaN,NaN
65447,1,1,2.0,2.0,49.0,5.0,4.0,1.0,4.0,NaN,...,NaN,2.0,2.0,2.0,2.0,4.0,NaN,NaN,NaN,NaN
66036,1,1,2.0,2.0,47.0,2.0,4.0,1.0,8.0,NaN,...,NaN,2.0,2.0,2.0,2.0,3.0,1.0,NaN,NaN,NaN
66133,1,1,2.0,2.0,48.0,1.0,4.0,1.0,9.0,NaN,...,NaN,2.0,2.0,2.0,2.0,4.0,NaN,NaN,NaN,NaN
66185,1,1,2.0,2.0,42.0,1.0,2.0,1.0,9.0,NaN,...,NaN,2.0,2.0,2.0,2.0,4.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
292908,1,1,3.0,1.0,58.0,2.0,1.0,1.0,5.0,NaN,...,NaN,2.0,2.0,2.0,2.0,3.0,1.0,NaN,NaN,NaN
293015,1,1,3.0,2.0,42.0,1.0,1.0,1.0,9.0,NaN,...,NaN,2.0,2.0,2.0,2.0,3.0,2.0,7.0,8.0,NaN
293020,1,1,2.0,2.0,47.0,4.0,1.0,1.0,9.0,NaN,...,NaN,2.0,2.0,2.0,2.0,1.0,2.0,4.0,8.0,NaN
293375,2,1,3.0,2.0,59.0,4.0,3.0,1.0,4.0,NaN,...,NaN,2.0,2.0,2.0,2.0,3.0,1.0,NaN,NaN,NaN
293614,2,1,3.0,2.0,45.0,1.0,1.0,1.0,9.0,NaN,...,NaN,2.0,2.0,2.0,2.0,3.0,2.0,4.0,8.0,NaN

In [18]:
faltante2 = df_filtrado[df_filtrado['D00901'].isna() & df_filtrado['D014'].isna()]
faltante2

,V0026,V0031,B001,C006,C008,C009,C011,D00201,D00301,D008,...,Q067,Q068,Q11006,Q128,T001,H001,H002,H003,H004,H010
64848,1,1,1.0,1.0,81.0,4.0,3.0,2.0,NaN,2.0,...,NaN,2.0,2.0,2.0,2.0,2.0,1.0,NaN,NaN,NaN
64893,1,1,2.0,1.0,64.0,2.0,4.0,2.0,NaN,2.0,...,NaN,2.0,2.0,2.0,2.0,1.0,1.0,NaN,NaN,NaN
64932,1,1,1.0,2.0,43.0,4.0,4.0,2.0,NaN,2.0,...,NaN,2.0,2.0,2.0,2.0,3.0,2.0,4.0,7.0,NaN
64938,1,1,1.0,2.0,72.0,4.0,3.0,2.0,NaN,2.0,...,NaN,2.0,2.0,2.0,2.0,4.0,NaN,NaN,NaN,NaN
65024,1,1,2.0,2.0,65.0,4.0,4.0,2.0,NaN,2.0,...,NaN,2.0,2.0,2.0,2.0,1.0,1.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
293417,2,1,2.0,1.0,80.0,1.0,4.0,2.0,NaN,2.0,...,NaN,2.0,2.0,2.0,2.0,3.0,1.0,NaN,NaN,NaN
293446,2,1,1.0,1.0,51.0,4.0,4.0,2.0,NaN,2.0,...,NaN,2.0,2.0,2.0,2.0,4.0,NaN,NaN,NaN,NaN
293498,2,1,1.0,1.0,73.0,2.0,1.0,2.0,NaN,2.0,...,1.0,2.0,2.0,2.0,2.0,3.0,2.0,2.0,1.0,1.0
293572,2,1,1.0,1.0,70.0,4.0,2.0,2.0,NaN,2.0,...,NaN,2.0,2.0,1.0,2.0,4.0,NaN,NaN,NaN,NaN
293614,2,1,3.0,2.0,45.0,1.0,1.0,1.0,9.0,NaN,...,NaN,2.0,2.0,2.0,2.0,3.0,2.0,4.0,8.0,NaN

In [19]:
# faltante3 = df_filtrado[df_filtrado['D01303'].isna() & df_filtrado['D014'].isna()]
# faltante3

In [20]:
#faltante4 = df_filtrado[df_filtrado['D00901'].isna() & df_filtrado['D010'].isna() & df_filtrado['D01101'].isna() & df_filtrado['D01201'].isna() & df_filtrado['D01301'].isna() & df_filtrado['D01302'].isna() & df_filtrado['D01303'].isna() & df_filtrado['D014'].isna()]
#faltante4

# **'D00901', 'D010', 'D01101', 'D01201', 'D01301', 'D01302', 'D01303', **'D014'

In [21]:
faltante5 = df_filtrado[df_filtrado['E001'].isna() & df_filtrado['E002'].isna() & df_filtrado['E003'].isna() & df_filtrado['E004'].isna() & df_filtrado['E005'].isna()]
faltante5

Empty DataFrame
Columns: [V0026, V0031, B001, C006, C008, C009, C011, D00201, D00301, D008, D00901, D014, E001, E002, E003, E004, E005, E006011, E008, E011, E014011, E01601, E01603, E01605, E01602, E01604, E017, E01801, E01802, E01804, E019, F001011, F007011, F008011, VDF001, G059, G060, G062, I00102, I00103, I001031, C00301, I006, I004, I00401, I00402, I00403, J001, J00101, J002, J00402, J00404, J007, J00801, J01101, M00203, M011011, M011021, M011051, M011071, N00101, N004, N005, N008, N010, N011, N012, N016, P00103, P00104, P00403, P00404, P00901, P01101, P02001, P018, P02002, P02501, P02602, P02601, P027, P02801, P029, P034, P035, P03701, P03702, P04501, P04502, P050, P051, P052, P053, P05401, P05404, P05407, P05410, P05413, P05416, P05419, ...]
Index: []

[0 rows x 134 columns]

In [22]:
#Se I1c = 1 e C00301 diferente I001031

#Passo 1: Filtrar linhas onde I00103 == 1
filtro_1 = df_filtrado[df_filtrado['I00103'] == 1]

#Passo 2: Identificar linhas onde I001031 e C00301 são diferentes
diferentes = filtro_1[
    ~((filtro_1['I001031'] == filtro_1['C00301']) | 
      (filtro_1['I001031'].isna() & filtro_1['C00301'].isna()))
][['I001031', 'C00301']]

diferentes

        I001031  C00301
64857       2.0     1.0
65330       1.0     2.0
65383       1.0     2.0
65426       2.0     1.0
65498       2.0     1.0
...         ...     ...
293103      1.0     2.0
293119      1.0     2.0
293221      1.0     2.0
293649      1.0     2.0
293692      1.0     2.0

[895 rows x 2 columns]

In [23]:
#Se M2a = 1 e E11 = 1 ao 3, passe M3b

filtro = df_filtrado[
    (df_filtrado['M00203'] == 1) &
    (df_filtrado['E011'].isin([1, 2, 3]))
][['M00203', 'E011']]

filtro

        M00203  E011
64855      1.0   1.0
64857      1.0   1.0
64865      1.0   1.0
64873      1.0   1.0
64884      1.0   1.0
...        ...   ...
293694     1.0   1.0
293697     1.0   1.0
293709     1.0   1.0
293712     1.0   1.0
293718     1.0   1.0

[12336 rows x 2 columns]

In [24]:
faltantes = df_filtrado[
    (df_filtrado['N004'] == 2) &
    (df_filtrado['N005'] == 2) &
    (df_filtrado['N008'].isna())
][['N004', 'N005', 'N008']]

faltantes

        N004  N005  N008
64848    2.0   2.0   NaN
64855    2.0   2.0   NaN
64857    2.0   2.0   NaN
64865    2.0   2.0   NaN
64867    2.0   2.0   NaN
...      ...   ...   ...
293693   2.0   2.0   NaN
293697   2.0   2.0   NaN
293709   2.0   2.0   NaN
293712   2.0   2.0   NaN
293718   2.0   2.0   NaN

[20296 rows x 3 columns]

In [25]:
faltante6 = df_filtrado[df_filtrado['P00104'].isna() & df_filtrado['P00404'].isna()]
faltante6

,V0026,V0031,B001,C006,C008,C009,C011,D00201,D00301,D008,...,Q067,Q068,Q11006,Q128,T001,H001,H002,H003,H004,H010
67831,2,1,1.0,2.0,42.0,4.0,2.0,2.0,NaN,1.0,...,NaN,2.0,2.0,2.0,2.0,1.0,2.0,3.0,1.0,2.0
76312,1,4,3.0,2.0,40.0,4.0,1.0,2.0,NaN,1.0,...,NaN,2.0,2.0,2.0,2.0,4.0,NaN,NaN,NaN,NaN
76545,1,4,1.0,2.0,45.0,1.0,4.0,2.0,NaN,1.0,...,NaN,2.0,1.0,2.0,2.0,2.0,2.0,6.0,3.0,NaN
76800,1,4,2.0,2.0,42.0,1.0,1.0,2.0,NaN,1.0,...,NaN,2.0,2.0,2.0,2.0,4.0,NaN,NaN,NaN,NaN
99031,1,4,1.0,2.0,41.0,4.0,1.0,2.0,NaN,1.0,...,NaN,2.0,2.0,1.0,2.0,3.0,2.0,2.0,1.0,4.0
99511,1,4,1.0,2.0,40.0,4.0,4.0,2.0,NaN,1.0,...,NaN,2.0,2.0,2.0,2.0,3.0,1.0,NaN,NaN,NaN
106076,1,4,1.0,2.0,46.0,4.0,1.0,2.0,NaN,1.0,...,NaN,2.0,2.0,2.0,1.0,4.0,NaN,NaN,NaN,NaN
111247,1,2,3.0,2.0,42.0,1.0,4.0,2.0,NaN,1.0,...,NaN,2.0,2.0,1.0,2.0,3.0,2.0,3.0,8.0,NaN
114341,1,4,1.0,2.0,40.0,4.0,1.0,2.0,NaN,1.0,...,NaN,2.0,2.0,2.0,2.0,1.0,2.0,5.0,1.0,4.0
120842,1,2,1.0,2.0,40.0,4.0,4.0,2.0,NaN,2.0,...,NaN,2.0,2.0,2.0,2.0,4.0,NaN,NaN,NaN,NaN
128523,1,1,3.0,2.0,40.0,4.0,4.0,2.0,NaN,1.0,...,NaN,2.0,1.0,2.0,2.0,2.0,2.0,2.0,1.0,4.0
129661,1,1,1.0,2.0,40.0,4.0,2.0,1.0,8.0,NaN,...,NaN,2.0,2.0,2.0,2.0,1.0,1.0,NaN,NaN,NaN
133353,1,4,1.0,2.0,40.0,4.0,4.0,2.0,NaN,1.0,...,NaN,2.0,2.0,2.0,1.0,2.0,2.0,3.0,1.0,2.0
145417,1,4,1.0,2.0,40.0,4.0,4.0,2.0,NaN,1.0,...,NaN,2.0,2.0,2.0,2.0,1.0,2.0,7.0,1.0,3.0
147486,2,4,1.0,2.0,40.0,4.0,1.0,2.0,NaN,1.0,...,NaN,2.0,2.0,2.0,2.0,1.0,1.0,NaN,NaN,NaN
149349,2,4,1.0,2.0,43.0,4.0,1.0,2.0,NaN,1.0,...,NaN,2.0,2.0,2.0,2.0,3.0,2.0,3.0,1.0,1.0
154869,2,4,1.0,2.0,40.0,2.0,1.0,2.0,NaN,2.0,...,NaN,2.0,2.0,2.0,2.0,4.0,NaN,NaN,NaN,NaN
159249,1,1,2.0,2.0,47.0,4.0,1.0,2.0,NaN,1.0,...,NaN,2.0,2.0,2.0,2.0,2.0,2.0,4.0,7.0,NaN
160238,1,1,2.0,2.0,40.0,2.0,1.0,2.0,NaN,1.0,...,NaN,2.0,2.0,2.0,2.0,1.0,2.0,3.0,8.0,NaN
167338,1,4,1.0,2.0,40.0,4.0,4.0,2.0,NaN,1.0,...,NaN,2.0,2.0,2.0,1.0,1.0,2.0,3.0,8.0,NaN
167908,2,4,1.0,2.0,70.0,4.0,2.0,2.0,NaN,1.0,...,NaN,2.0,2.0,2.0,2.0,3.0,1.0,NaN,NaN,NaN
269534,1,4,1.0,2.0,43.0,1.0,4.0,2.0,NaN,1.0,...,NaN,2.0,2.0,2.0,2.0,1.0,2.0,3.0,1.0,3.0
274734,1,4,1.0,2.0,40.0,1.0,4.0,2.0,NaN,1.0,...,NaN,2.0,2.0,2.0,2.0,1.0,1.0,NaN,NaN,NaN
286374,1,1,3.0,2.0,40.0,2.0,4.0,2.0,NaN,1.0,...,NaN,2.0,2.0,2.0,2.0,3.0,2.0,5.0,8.0,NaN
286790,1,1,1.0,2.0,51.0,1.0,1.0,2.0,NaN,1.0,...,NaN,2.0,2.0,1.0,2.0,1.0,1.0,NaN,NaN,NaN
288724,1,1,2.0,2.0,41.0,2.0,4.0,2.0,NaN,2.0,...,NaN,2.0,2.0,2.0,2.0,3.0,1.0,NaN,NaN,NaN
288976,1,1,3.0,2.0,40.0,1.0,1.0,2.0,NaN,1.0,...,NaN,2.0,2.0,2.0,2.0,1.0,2.0,3.0,8.0,NaN

In [26]:
'''
faltante7 = df_filtrado[
    df_filtrado['P00104'].isna() &
    df_filtrado['P00404'].isna() &
    df_filtrado['W00103'].isna() &
    df_filtrado['W00203'].isna()
][['P00104', 'P00404', 'W00103', 'W00203']]

faltante7

'''

# peso: 'W00101', 'W00102', 'W00103'
# altura: 'W00201', 'W00202', 'W00203'

"\nfaltante7 = df_filtrado[\n    df_filtrado['P00104'].isna() &\n    df_filtrado['P00404'].isna() &\n    df_filtrado['W00103'].isna() &\n    df_filtrado['W00203'].isna()\n][['P00104', 'P00404', 'W00103', 'W00203']]\n\nfaltante7\n\n"

In [27]:
faltante8 = df_filtrado[df_filtrado['P00103'].isna() & df_filtrado['P00104'].isna()]
faltante8

# 'P00103' 'P00104'

,V0026,V0031,B001,C006,C008,C009,C011,D00201,D00301,D008,...,Q067,Q068,Q11006,Q128,T001,H001,H002,H003,H004,H010
67831,2,1,1.0,2.0,42.0,4.0,2.0,2.0,NaN,1.0,...,NaN,2.0,2.0,2.0,2.0,1.0,2.0,3.0,1.0,2.0
76312,1,4,3.0,2.0,40.0,4.0,1.0,2.0,NaN,1.0,...,NaN,2.0,2.0,2.0,2.0,4.0,NaN,NaN,NaN,NaN
76545,1,4,1.0,2.0,45.0,1.0,4.0,2.0,NaN,1.0,...,NaN,2.0,1.0,2.0,2.0,2.0,2.0,6.0,3.0,NaN
76800,1,4,2.0,2.0,42.0,1.0,1.0,2.0,NaN,1.0,...,NaN,2.0,2.0,2.0,2.0,4.0,NaN,NaN,NaN,NaN
99031,1,4,1.0,2.0,41.0,4.0,1.0,2.0,NaN,1.0,...,NaN,2.0,2.0,1.0,2.0,3.0,2.0,2.0,1.0,4.0
99511,1,4,1.0,2.0,40.0,4.0,4.0,2.0,NaN,1.0,...,NaN,2.0,2.0,2.0,2.0,3.0,1.0,NaN,NaN,NaN
106076,1,4,1.0,2.0,46.0,4.0,1.0,2.0,NaN,1.0,...,NaN,2.0,2.0,2.0,1.0,4.0,NaN,NaN,NaN,NaN
111247,1,2,3.0,2.0,42.0,1.0,4.0,2.0,NaN,1.0,...,NaN,2.0,2.0,1.0,2.0,3.0,2.0,3.0,8.0,NaN
114341,1,4,1.0,2.0,40.0,4.0,1.0,2.0,NaN,1.0,...,NaN,2.0,2.0,2.0,2.0,1.0,2.0,5.0,1.0,4.0
120842,1,2,1.0,2.0,40.0,4.0,4.0,2.0,NaN,2.0,...,NaN,2.0,2.0,2.0,2.0,4.0,NaN,NaN,NaN,NaN
128523,1,1,3.0,2.0,40.0,4.0,4.0,2.0,NaN,1.0,...,NaN,2.0,1.0,2.0,2.0,2.0,2.0,2.0,1.0,4.0
129661,1,1,1.0,2.0,40.0,4.0,2.0,1.0,8.0,NaN,...,NaN,2.0,2.0,2.0,2.0,1.0,1.0,NaN,NaN,NaN
133353,1,4,1.0,2.0,40.0,4.0,4.0,2.0,NaN,1.0,...,NaN,2.0,2.0,2.0,1.0,2.0,2.0,3.0,1.0,2.0
145417,1,4,1.0,2.0,40.0,4.0,4.0,2.0,NaN,1.0,...,NaN,2.0,2.0,2.0,2.0,1.0,2.0,7.0,1.0,3.0
147486,2,4,1.0,2.0,40.0,4.0,1.0,2.0,NaN,1.0,...,NaN,2.0,2.0,2.0,2.0,1.0,1.0,NaN,NaN,NaN
149349,2,4,1.0,2.0,43.0,4.0,1.0,2.0,NaN,1.0,...,NaN,2.0,2.0,2.0,2.0,3.0,2.0,3.0,1.0,1.0
154869,2,4,1.0,2.0,40.0,2.0,1.0,2.0,NaN,2.0,...,NaN,2.0,2.0,2.0,2.0,4.0,NaN,NaN,NaN,NaN
159249,1,1,2.0,2.0,47.0,4.0,1.0,2.0,NaN,1.0,...,NaN,2.0,2.0,2.0,2.0,2.0,2.0,4.0,7.0,NaN
160238,1,1,2.0,2.0,40.0,2.0,1.0,2.0,NaN,1.0,...,NaN,2.0,2.0,2.0,2.0,1.0,2.0,3.0,8.0,NaN
167338,1,4,1.0,2.0,40.0,4.0,4.0,2.0,NaN,1.0,...,NaN,2.0,2.0,2.0,1.0,1.0,2.0,3.0,8.0,NaN
167908,2,4,1.0,2.0,70.0,4.0,2.0,2.0,NaN,1.0,...,NaN,2.0,2.0,2.0,2.0,3.0,1.0,NaN,NaN,NaN
269534,1,4,1.0,2.0,43.0,1.0,4.0,2.0,NaN,1.0,...,NaN,2.0,2.0,2.0,2.0,1.0,2.0,3.0,1.0,3.0
274734,1,4,1.0,2.0,40.0,1.0,4.0,2.0,NaN,1.0,...,NaN,2.0,2.0,2.0,2.0,1.0,1.0,NaN,NaN,NaN
286374,1,1,3.0,2.0,40.0,2.0,4.0,2.0,NaN,1.0,...,NaN,2.0,2.0,2.0,2.0,3.0,2.0,5.0,8.0,NaN
286790,1,1,1.0,2.0,51.0,1.0,1.0,2.0,NaN,1.0,...,NaN,2.0,2.0,1.0,2.0,1.0,1.0,NaN,NaN,NaN
288724,1,1,2.0,2.0,41.0,2.0,4.0,2.0,NaN,2.0,...,NaN,2.0,2.0,2.0,2.0,3.0,1.0,NaN,NaN,NaN
288976,1,1,3.0,2.0,40.0,1.0,1.0,2.0,NaN,1.0,...,NaN,2.0,2.0,2.0,2.0,1.0,2.0,3.0,8.0,NaN

In [28]:
faltante9 = df_filtrado[df_filtrado['P00403'].isna() & df_filtrado['P00404'].isna()]
faltante9

# 'P00403' 'P00404'

,V0026,V0031,B001,C006,C008,C009,C011,D00201,D00301,D008,...,Q067,Q068,Q11006,Q128,T001,H001,H002,H003,H004,H010
67831,2,1,1.0,2.0,42.0,4.0,2.0,2.0,NaN,1.0,...,NaN,2.0,2.0,2.0,2.0,1.0,2.0,3.0,1.0,2.0
76312,1,4,3.0,2.0,40.0,4.0,1.0,2.0,NaN,1.0,...,NaN,2.0,2.0,2.0,2.0,4.0,NaN,NaN,NaN,NaN
76545,1,4,1.0,2.0,45.0,1.0,4.0,2.0,NaN,1.0,...,NaN,2.0,1.0,2.0,2.0,2.0,2.0,6.0,3.0,NaN
76800,1,4,2.0,2.0,42.0,1.0,1.0,2.0,NaN,1.0,...,NaN,2.0,2.0,2.0,2.0,4.0,NaN,NaN,NaN,NaN
99031,1,4,1.0,2.0,41.0,4.0,1.0,2.0,NaN,1.0,...,NaN,2.0,2.0,1.0,2.0,3.0,2.0,2.0,1.0,4.0
99511,1,4,1.0,2.0,40.0,4.0,4.0,2.0,NaN,1.0,...,NaN,2.0,2.0,2.0,2.0,3.0,1.0,NaN,NaN,NaN
106076,1,4,1.0,2.0,46.0,4.0,1.0,2.0,NaN,1.0,...,NaN,2.0,2.0,2.0,1.0,4.0,NaN,NaN,NaN,NaN
111247,1,2,3.0,2.0,42.0,1.0,4.0,2.0,NaN,1.0,...,NaN,2.0,2.0,1.0,2.0,3.0,2.0,3.0,8.0,NaN
114341,1,4,1.0,2.0,40.0,4.0,1.0,2.0,NaN,1.0,...,NaN,2.0,2.0,2.0,2.0,1.0,2.0,5.0,1.0,4.0
120842,1,2,1.0,2.0,40.0,4.0,4.0,2.0,NaN,2.0,...,NaN,2.0,2.0,2.0,2.0,4.0,NaN,NaN,NaN,NaN
128523,1,1,3.0,2.0,40.0,4.0,4.0,2.0,NaN,1.0,...,NaN,2.0,1.0,2.0,2.0,2.0,2.0,2.0,1.0,4.0
129661,1,1,1.0,2.0,40.0,4.0,2.0,1.0,8.0,NaN,...,NaN,2.0,2.0,2.0,2.0,1.0,1.0,NaN,NaN,NaN
133353,1,4,1.0,2.0,40.0,4.0,4.0,2.0,NaN,1.0,...,NaN,2.0,2.0,2.0,1.0,2.0,2.0,3.0,1.0,2.0
145417,1,4,1.0,2.0,40.0,4.0,4.0,2.0,NaN,1.0,...,NaN,2.0,2.0,2.0,2.0,1.0,2.0,7.0,1.0,3.0
147486,2,4,1.0,2.0,40.0,4.0,1.0,2.0,NaN,1.0,...,NaN,2.0,2.0,2.0,2.0,1.0,1.0,NaN,NaN,NaN
149349,2,4,1.0,2.0,43.0,4.0,1.0,2.0,NaN,1.0,...,NaN,2.0,2.0,2.0,2.0,3.0,2.0,3.0,1.0,1.0
154869,2,4,1.0,2.0,40.0,2.0,1.0,2.0,NaN,2.0,...,NaN,2.0,2.0,2.0,2.0,4.0,NaN,NaN,NaN,NaN
159249,1,1,2.0,2.0,47.0,4.0,1.0,2.0,NaN,1.0,...,NaN,2.0,2.0,2.0,2.0,2.0,2.0,4.0,7.0,NaN
160238,1,1,2.0,2.0,40.0,2.0,1.0,2.0,NaN,1.0,...,NaN,2.0,2.0,2.0,2.0,1.0,2.0,3.0,8.0,NaN
167338,1,4,1.0,2.0,40.0,4.0,4.0,2.0,NaN,1.0,...,NaN,2.0,2.0,2.0,1.0,1.0,2.0,3.0,8.0,NaN
167908,2,4,1.0,2.0,70.0,4.0,2.0,2.0,NaN,1.0,...,NaN,2.0,2.0,2.0,2.0,3.0,1.0,NaN,NaN,NaN
269534,1,4,1.0,2.0,43.0,1.0,4.0,2.0,NaN,1.0,...,NaN,2.0,2.0,2.0,2.0,1.0,2.0,3.0,1.0,3.0
274734,1,4,1.0,2.0,40.0,1.0,4.0,2.0,NaN,1.0,...,NaN,2.0,2.0,2.0,2.0,1.0,1.0,NaN,NaN,NaN
286374,1,1,3.0,2.0,40.0,2.0,4.0,2.0,NaN,1.0,...,NaN,2.0,2.0,2.0,2.0,3.0,2.0,5.0,8.0,NaN
286790,1,1,1.0,2.0,51.0,1.0,1.0,2.0,NaN,1.0,...,NaN,2.0,2.0,1.0,2.0,1.0,1.0,NaN,NaN,NaN
288724,1,1,2.0,2.0,41.0,2.0,4.0,2.0,NaN,2.0,...,NaN,2.0,2.0,2.0,2.0,3.0,1.0,NaN,NaN,NaN
288976,1,1,3.0,2.0,40.0,1.0,1.0,2.0,NaN,1.0,...,NaN,2.0,2.0,2.0,2.0,1.0,2.0,3.0,8.0,NaN

In [29]:
faltante10 = df_filtrado[
    (df_filtrado['P034'] == 2) &
    (df_filtrado['P035'].isna())
][['P034', 'P035']]
faltante10

        P034  P035
64855    2.0   NaN
64865    2.0   NaN
64881    2.0   NaN
64884    2.0   NaN
64898    2.0   NaN
...      ...   ...
293693   2.0   NaN
293694   2.0   NaN
293697   2.0   NaN
293709   2.0   NaN
293712   2.0   NaN

[16118 rows x 2 columns]

In [30]:
filtro = df_filtrado[
    df_filtrado['E011'].isin([1, 2, 3]) &
    (df_filtrado['P035'] == 0)
][['E011', 'P035']]
filtro

        E011  P035
65956    1.0   0.0
66626    1.0   0.0
66652    1.0   0.0
68010    1.0   0.0
73364    1.0   0.0
...      ...   ...
291669   1.0   0.0
292626   1.0   0.0
292922   1.0   0.0
293015   1.0   0.0
293025   1.0   0.0

[140 rows x 2 columns]

In [31]:
faltante11 = df_filtrado[df_filtrado['P035'].isna() & df_filtrado['P03701'].isna()]
faltante11

,V0026,V0031,B001,C006,C008,C009,C011,D00201,D00301,D008,...,Q067,Q068,Q11006,Q128,T001,H001,H002,H003,H004,H010
64855,1,1,2.0,2.0,54.0,4.0,3.0,2.0,NaN,1.0,...,NaN,2.0,2.0,2.0,2.0,4.0,NaN,NaN,NaN,NaN
64865,1,1,2.0,1.0,62.0,1.0,2.0,2.0,NaN,1.0,...,NaN,2.0,2.0,2.0,2.0,3.0,1.0,NaN,NaN,NaN
64881,1,1,1.0,2.0,63.0,4.0,4.0,2.0,NaN,1.0,...,NaN,2.0,2.0,1.0,2.0,2.0,1.0,NaN,NaN,NaN
64884,1,1,1.0,2.0,54.0,4.0,4.0,2.0,NaN,1.0,...,NaN,2.0,2.0,2.0,2.0,2.0,2.0,7.0,7.0,NaN
64898,1,1,2.0,2.0,51.0,4.0,4.0,2.0,NaN,1.0,...,NaN,2.0,2.0,2.0,2.0,3.0,2.0,4.0,2.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
293693,2,1,2.0,1.0,51.0,4.0,4.0,2.0,NaN,1.0,...,NaN,2.0,2.0,2.0,2.0,4.0,NaN,NaN,NaN,NaN
293694,2,1,2.0,2.0,51.0,1.0,4.0,2.0,NaN,1.0,...,NaN,2.0,1.0,2.0,2.0,3.0,2.0,2.0,7.0,NaN
293697,2,1,2.0,1.0,44.0,2.0,4.0,2.0,NaN,1.0,...,NaN,2.0,2.0,1.0,2.0,4.0,NaN,NaN,NaN,NaN
293709,2,1,2.0,2.0,54.0,4.0,1.0,2.0,NaN,1.0,...,NaN,2.0,2.0,2.0,2.0,4.0,NaN,NaN,NaN,NaN
293712,2,1,3.0,1.0,44.0,4.0,2.0,2.0,NaN,1.0,...,NaN,2.0,2.0,2.0,2.0,3.0,2.0,4.0,8.0,NaN

In [32]:
(df_filtrado['P035'] > 0).sum()

np.int64(8065)

In [33]:
faltante12 = df_filtrado[df_filtrado['G060'].isna() & df_filtrado['G062'].isna()]
faltante12

,V0026,V0031,B001,C006,C008,C009,C011,D00201,D00301,D008,...,Q067,Q068,Q11006,Q128,T001,H001,H002,H003,H004,H010
64848,1,1,1.0,1.0,81.0,4.0,3.0,2.0,NaN,2.0,...,NaN,2.0,2.0,2.0,2.0,2.0,1.0,NaN,NaN,NaN
64855,1,1,2.0,2.0,54.0,4.0,3.0,2.0,NaN,1.0,...,NaN,2.0,2.0,2.0,2.0,4.0,NaN,NaN,NaN,NaN
64857,1,1,2.0,2.0,41.0,2.0,1.0,2.0,NaN,1.0,...,NaN,2.0,2.0,2.0,2.0,3.0,1.0,NaN,NaN,NaN
64865,1,1,2.0,1.0,62.0,1.0,2.0,2.0,NaN,1.0,...,NaN,2.0,2.0,2.0,2.0,3.0,1.0,NaN,NaN,NaN
64867,1,1,2.0,2.0,51.0,4.0,1.0,2.0,NaN,1.0,...,NaN,2.0,2.0,1.0,2.0,4.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
293694,2,1,2.0,2.0,51.0,1.0,4.0,2.0,NaN,1.0,...,NaN,2.0,1.0,2.0,2.0,3.0,2.0,2.0,7.0,NaN
293697,2,1,2.0,1.0,44.0,2.0,4.0,2.0,NaN,1.0,...,NaN,2.0,2.0,1.0,2.0,4.0,NaN,NaN,NaN,NaN
293709,2,1,2.0,2.0,54.0,4.0,1.0,2.0,NaN,1.0,...,NaN,2.0,2.0,2.0,2.0,4.0,NaN,NaN,NaN,NaN
293712,2,1,3.0,1.0,44.0,4.0,2.0,2.0,NaN,1.0,...,NaN,2.0,2.0,2.0,2.0,3.0,2.0,4.0,8.0,NaN
293718,2,1,2.0,1.0,54.0,4.0,1.0,2.0,NaN,1.0,...,NaN,2.0,1.0,2.0,2.0,2.0,2.0,2.0,8.0,NaN

## Dados inconsistentes

In [34]:
df.loc[df['Q064'] > df['C008'], ['C008', 'Q064']] #checando se a idade do diagnóstico é maior que a idade do morador

Empty DataFrame
Columns: [C008, Q064]
Index: []