In [7]:
import pandas as pd

In [8]:
colunas = ['V0001', 'V0015', 'V0026', 'V0031', 'B001', 'C006', 'C008', 'C009', 'C011', 'C012', 'D00201', 'D00301', 'D008', 'D00901', 'D014', 'D015', 
           'E001', 'E002', 'E003', 'E004', 'E005', 'E006011', 'E008', 'E011', 'E014011', 'E01601', 'E01603', 'E01605', 'E01602', 'E01604',
           'E017', 'E01801', 'E01802', 'E01804', 'E019', 'E027', 'F001011', 'F007011', 'F008011', 'VDF001', 'F016', 'G059', 'G060', 'G062', 'G032', 'I00102', 'I00103', 'I001031', 'C00301', 'I006', 'I004', 'I00401', 'I00402', 'I00403',
           'I012', 'J001', 'J00101', 'J002', 'J00402', 'J00404', 'J007', 'J00801', 'J01101', 'J060', 'M001', 'M00203', 'M00302', 'M011011', 'M011021', 'M011051', 'M011071', 'N00101', 'N004', 'N005', 'N008', 'N010', 'N011',
           'N012', 'N016', 'P00103', 'P00104', 'P00403', 'P00404', 'P00901', 'P01101', 'P02001', 'P018', 'P02002', 'P02501', 'P02602', 'P02601', 'P027', 'P02801', 'P029', 'P034', 'P035', 'P03701', 'P03702',
           'P04501', 'P04502', 'P050', 'P051', 'P052', 'P053', 'P05401', 'P05404', 'P05407', 'P05410', 'P05413', 'P05416', 'P05419', 'P05901', 'P05902', 'P05903', 'P05904', 'P06701', 'P068', 'Q00101', 'Q00201', 'Q02901', 'Q03001', 'Q05901', 'Q060', 'Q06306', 
           'Q06307', 'Q06308', 'Q06309', 'Q06310', 'Q06311', 'Q064',
           'Q06506', 'Q06507', 'Q06508', 'Q06509', 'Q06601', 'Q067', 'Q068', 'Q11006', 'Q128', 
           'T001', 'H001', 'H002', 'H003', 'H004', 'H010']

In [9]:
df = pd.read_csv('..\Bases\Originais\\pns2019.csv', usecols=colunas)
df.head()

<>:1: SyntaxWarning: invalid escape sequence '\B'
<>:1: SyntaxWarning: invalid escape sequence '\B'
C:\Users\llays\AppData\Local\Temp\ipykernel_7428\800739080.py:1: SyntaxWarning: invalid escape sequence '\B'
  df = pd.read_csv('..\Bases\Originais\\pns2019.csv', usecols=colunas)

,V0001,V0015,V0026,V0031,B001,C00301,C006,C008,C009,C011,...,Q067,Q068,Q11006,Q128,T001,H001,H002,H003,H004,H010
0,11,1,1,1,1.0,1.0,2.0,55.0,1.0,1.0,...,NaN,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0,3.0
1,11,1,1,1,1.0,2.0,1.0,69.0,4.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,11,1,1,1,1.0,3.0,1.0,31.0,2.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,11,1,1,1,1.0,4.0,1.0,9.0,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,11,1,1,1,1.0,5.0,2.0,6.0,4.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
# Códigos dos estados do Nordeste
nordeste = [21, 22, 23, 24, 25, 26, 27, 28, 29]

# Códigos dos estados do Centro-Oeste
centro_oeste = [50, 51, 52, 53]

df_filtrado = df.dropna(subset=['Q06306'])

df_filtrado = df_filtrado[
    (df_filtrado['V0015'] == 1) & #Tipo da entrevista: Realizada (1)
    (df_filtrado['V0001'].isin(nordeste + centro_oeste)) & #Região nordeste e centro-oeste apenas
    (~df_filtrado['C012'].isin([3, 9])) & #Informante do Módulo C 
    (~df_filtrado['D015'].isin([3, 9])) & #Informante do Módulo D 
    (~df_filtrado['E027'].isin([3, 9])) & #Informante do Módulo E 
    (~df_filtrado['F016'].isin([3, 9])) & #Informante do Módulo F 
    (~df_filtrado['G032'].isin([3, 9])) & #Informante do Módulo G 
    (~df_filtrado['I012'].isin([3, 9])) & #Informante do Módulo I 
    (~df_filtrado['J060'].isin([3, 9])) & #Informante do Módulo J 
    (df_filtrado['M001'] == 1) & #Entrevista do adulto selecionado: Realizada (1)
    (~df_filtrado['M00302'].isin([2])) & #O informante desta parte é: (todas as opções menos "Não morador")
    (df_filtrado['C008'] >= 40)  # Pessoas com 40 anos ou mais
]

#Colunas acrescentadas para análise (se for permanecer, mudar oficialmente no tableone antes de tratar): D00201, D00301, D008
# 'E001', 'E002', 'E003', 'E004', 'E005'
# 'E011', 'E014011', 'E01601', 'E01603', 'E01605', 'E01801'
# tirei 'E010010'
# 'I00102', 'I00103', 'I001031','C00301'
# 'M00203' 
# 'N00101'
# peso: 'W00101', 'W00102', 'W00103' (já tirei)
# altura: 'W00201', 'W00202', 'W00203' (já tirei)
# 'P00103', 'P00403'
# tirei o P01001 e o P019
# 'P034'
# tirei o P058
# 'P05901', 'P05902', 'P05903', 'P05904'
# 'Q00101', 'Q02901', 'Q05901'
# 'Q06307', 'Q06308', 'Q06309', 'Q06310', 'Q06311'
# 'R031', 'R032', 'R033'
# 'R010', 'R025', 'R028', 'R029', 'R030'
# 'H001', 'H002'
# Atributos sobre contraceptivo: 'R010', 'R025', 'R028', 'R029', 'R030', 'R031', 'R032', 'R033', 'R034', 'R03601', 'R03607', 'R03608', 'R03610', 'S065', 


colunas_existentes = [col for col in colunas if col in df_filtrado.columns]

df_filtrado = df_filtrado[colunas_existentes]

In [11]:
df_filtrado = df_filtrado.drop(columns=['V0015', 'V0001', 'C012', 'D015', 'E027', 'F016', 'G032', 'I012', 'J060', 'M001', 'M00302'])

In [12]:
df_filtrado.to_csv('..\Bases\Criados\\base_doencas_cardiacas.csv', index=False)

<>:1: SyntaxWarning: invalid escape sequence '\B'
<>:1: SyntaxWarning: invalid escape sequence '\B'
C:\Users\llays\AppData\Local\Temp\ipykernel_7428\859905064.py:1: SyntaxWarning: invalid escape sequence '\B'
  df_filtrado.to_csv('..\Bases\Criados\\base_doencas_cardiacas.csv', index=False)

## Dados inconsistentes

In [34]:
df.loc[df['Q064'] > df['C008'], ['C008', 'Q064']] #checando se a idade do diagnóstico é maior que a idade do morador

Empty DataFrame
Columns: [C008, Q064]
Index: []